<div class="body__top--insights body__top">

  <div class="container-fluid">

    <div class="row--header header text-center row no-gutters">
      <h1 class="col-12">What's new in the market today?</h1>
    </div>

    <div class="insights__container row">

    <!-- MARKET INSIGHTS  -->
      <div class="col-xl-8">
        <div class="insights__post insights__post--marketinsights row">

          <div class="col-md-5">
            <div class="post__image-box row">
              <div class="post__category-container">
                <p class="post__category">Market Insights</p>

                <div class="post__toggle-container">
                  <p class="post__date">Jul 4, 2017</p>
                  <ul class="nav nav-justified">
                    <li class="nav-item">
                      <a class="nav-link selected">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link">
                        <i class="fa fa-circle" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="post__thumbnail">
                <div class="thumbnail__gradient"></div>
                <img class="thumbnail__image" src="/../../assets/imgs/thumb_MI-post1.jpg">
              </div>
            </div>
          </div>

          <div class="post__content col-md-7">
            <div class="post__title">
              <p><a>After New Highs in Market, Thursday’s Technology Sell Off Brings Out Bearish Pundits&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
            </div>
            <div class="post__author">
              <p class="author"><span>BY</span> Marc Chaikin</p>
              <a><i class="fa fa-twitter" aria-hidden="true"></i> @MarcChaikin</a>
            </div>
          </div>
        </div>

      <!-- SUBHEADER  -->
        <div class="row--subheader row no-gutters">
          <h2>New ideas from the experts…</h2>
        </div>

      <!-- EXPERT PICKS  -->
        <div class="row">
          <div class="col-lg-4">
            <div (click)="openEarningsIdeas()" class="insights__post insights__post--expertpicks">
              <div class="post__image-box">
                <div class="post__category-container">
                  <p class="post__category">Earnings Ideas</p>
                </div>
                <div class="post__thumbnail">
                  <div class="thumbnail__gradient"></div>
                  <img class="thumbnail__image" src="/../../assets/imgs/thumb_Expert-earningsideas.png">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div (click)="openBullsandBearsIdeas()" class="insights__post insights__post--expertpicks">
              <div class="post__image-box">
                <div class="post__category-container">
                  <p class="post__category">Bulls &amp; Bears</p>
                </div>
                <div class="post__thumbnail">
                  <div class="thumbnail__gradient"></div>
                  <img class="thumbnail__image" src="/../../assets/imgs/thumb_Expert-bullandbears.png">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div (click)="openStockoftheWeek()" class="insights__post insights__post--expertpicks">
              <div class="post__image-box stock-of-the-week">
                <div class="stock-of-the-week__logo">
                  <img class="logo align-absolute" src="/../../assets/imgs/logo_SOTW.png">
                </div>
                <div class="post__category-container">
                  <p class="post__category">Stock of the week</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4">
        <div class="insights__post insights__post--education row">
          <div class="post__image-box col-12">
            <div class="post__category-container">
              <p class="post__category">Expert Education</p>
            </div>
          </div>
          <ul class="post__content col-12">
            <li class="content__article">
              <div class="post__title">
                <p><a>Stocks Stage Comeback Straight after Straight Selling&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </p>
              </div>
              <div class="post__author">
                <p class="author"><span>BY</span> John Schlitz</p>
              </div>
            </li>
            <li class="content__article">
              <div class="post__title">
                <p><a>DJIA Straight Logs 5th Straight Record Close, Straight Probes&nbsp;&nbsp;<i
                  class="fa fa-long-arrow-right" aria-hidden="true"></i></a></p>
              </div>
              <div class="post__author">
                <p class="author"><span>BY</span> John Schlitz</p>
              </div>
            </li>
            <li class="content__article">
              <div class="post__title">
                <p><a>DJIA Logs 5tt Record Straight Close, Probes 22k&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </p>
              </div>
              <div class="post__author">
                <p class="author"><span>BY</span> John Schlitz</p>
              </div>
            </li>
          </ul>
          <div class="post__toggle-container col-12">
            <p class="toggle__text">MORE</p>
            <ul class="nav nav-justified">
              <li class="nav-item">
                <a class="nav-link selected">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="fa fa-circle" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END: INSIGHTS  -->

</div>
<!-- END: DISCOVERY BODY TOP  -->
