<div class="body__top--insights body__top">

  <div class="container-fluid">

    <div class="row--header header text-center row no-gutters">
      <h1 class="col-12">What's new in the market today?</h1>
    </div>

    <div class="insights__container row">

      <!-- MARKET INSIGHTS  -->
      <div class="col-xl-8">
        <market-insights></market-insights>

        <!-- SUBHEADER  -->
        <div class="row--subheader row no-gutters">
          <h2>New ideas from the experts…</h2>
        </div>

        <!-- EXPERT PICKS  -->
        <div class="row">
          <div class="col-lg-4">
            <earnings-ideas></earnings-ideas>
          </div>
          <div class="col-lg-4">
            <bulls-bears></bulls-bears>
          </div>
          <div class="col-lg-4">
            <stock-of-the-week></stock-of-the-week>
          </div>
        </div>
      </div>

      <div class="col-xl-4">
        <expert-education></expert-education>
      </div>
    </div>
  </div>
  <!-- END: INSIGHTS  -->

</div>
