@import 'variables';



.modal-header {
	
    .modal-title {

        .close {
            margin-top: -2px;
            font-size: 34px;
            line-height: 1;
            margin-right: -30px;
        }
    }
}



.modal-footer {
	
}
