@import 'variables';




/*------------------------------------*\
  #PRIMARY-NAV
\*------------------------------------*/




.top-nav {
	position: relative;
	z-index: 100;
	

	.top-nav__contents {
		position: absolute;
		right:20px;
		height: 35px;


		li {
			height: 35px;
			width: 35px;
			margin-left: 20px;

			a {
				padding-top: 9px;
				height: 35px;
				width: 35px;

				svg {
					width: 26px;
					height: 26px;
				}

				svg g {
					fill: $font-color--MD;
				}
			}

			&:hover {
				svg g {
					fill: $link-blue;
				}
			}
		}
	}
}


