<div class="row primary-nav">
	<div class="col-sm-6 col-md-2 primary-nav__logo">
		<img class="align-absolute" src="../assets/images/cmt-logo.svg">
	</div>

	<div class="col-sm-6 col-md-6 primary-nav__nav">
		<ul class="nav nav-justified">
			<li class="nav-item">
		    	<a class="nav-link"  routerLink="/home" routerLinkActive="active">Home</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" routerLink="/ideas" routerLinkActive="active">Ideas</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" routerLink="/discovery" routerLinkActive="active">Discovery</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" routerLink="/insights" routerLinkActive="active">Insights</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" routerLink="/report" routerLinkActive="active">Reports</a>
		  	</li>
		  	<li class="nav-item">
		    	<a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
		  	</li>
		</ul>
	</div>

	<div class="col-sm-8 col-md-3 primary-nav__search">
	  <form class="form-inline">
	    <div class="form-group">
	    	<span class="search-submit" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
	      	<input type="text" class="form-control search-box" placeholder="Search a stock" aria-describedby="basic-addon1">
	    </div>
	  </form>
	</div>

	<div class="col-sm-4 col-md-1 primary-nav__settings">
		<ul class="nav nav-justified">
			<li class="nav-item"><a class="nav-link" href=""><i class="fa fa-question-circle" aria-hidden="true"></i></a></li>
			<li class="nav-item"><a class="nav-link" href=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
			<li class="nav-item"><a class="nav-link" href=""><i class="fa fa-cog" aria-hidden="true"></i></a></li>
		</ul>
	</div>
</div>