<!-- SECTION: BODY  -->
<div class="container-fluid">

  <!-- SECTION: DISCOVERY BODY  -->
  <div class="discovery__body body">

    <!-- SECTION: DISCOVERY BODY TOP  -->
    <div class="body__top">

      <div class="row--header header text-center row no-gutters">
        <h1 class="col-12">Discovery Results for</h1>
      </div>

      <!-- ROW: DISCOVERY - BASE STOCK  -->
      <app-discovery-stock (addToListClicked)="addToList($event)" [metaInfo]="metaInfo"></app-discovery-stock>
      <!-- END: DISCOVERY - BASE STOCK  -->

    </div>
    <!-- END: DISCOVERY BODY TOP  -->

    <!-- SECTION: DISCOVERY BODY BOTTOM  -->
    <div class="body__bottom">

      <!-- ROW: DISCOVERY RESULTS  -->
      <app-discovery-results (addToListClicked)="addToList($event)" [results]="results"></app-discovery-results>
      <!-- END: DISCOVERY RESULTS  -->

    </div>
    <!-- END: DISCOVERY BODY BOTTOM  -->

  </div>
  <!-- END: DISCOVERY BODY  -->

</div>
<!-- END: BODY  -->
