<form class="form-inline" (submit)="onSubmit()">
  <div class="form-group">
	  <span class="search-submit" id="basic-addon1">
        <i class="fa fa-search align-absolute" aria-hidden="true"></i>
    </span>
    <input (focusout)="toggleFocus()" (focus)="toggleFocus()" [formControl]="symbolSearchForm" type="search" class="form-control search-box"
           placeholder="Search a ticker or company name"
           aria-describedby="basic-addon1">
    <button type="submit" style="display:none">hidden submit</button>
  </div>
</form>
<div appFocusoff *ngIf="searchResults && symbolSearchForm.value && focus == true" class="search__dropdown">
  <ul *ngFor="let result of searchResults" class="container">
    <li class="row search__entry">
      <div (click)="addToHoldingList(result.Symbol, $event)" class="col-lg-1 col-xl-1  search__action">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </div>
      <div (click)="addToWatchingList(result.Symbol, $event)" class="col-lg-1 col-xl-1 search__action">
        <i class="fa fa-binoculars" aria-hidden="true"></i>
      </div>
      <div class="col-lg-4 col-xl-2 search__company">
        <p class="company-ticker">
          {{ result.Symbol }}
        </p>
      </div>
      <div class="col-lg-5 col-xl-7">
        <p class="company-name">
          {{ result.CompanyName }}
        </p>
      </div>
      <div (click)="gotoReport(result.Symbol)" class="col-lg-1 col-xl-1
       search__action">
        <img class="align-absolute" src="assets/imgs/icon-stockview.svg">
      </div>
    </li>
  </ul>
  <ul *ngIf="searchResults && symbolSearchForm.value && searchResults.length == 0">
    <li>
      <p class="search__none">There is no such symbol</p>
    </li>
  </ul>
</div>
