<!-- SECTION: ADD LIST BOTTOM -->
<div *ngIf="additionalLists == true" class="body__bottom body__bottom--addlist">

  <!-- ROW: ADD LIST ACTION BAR  -->
  <div class="list-view__actionbar list-view__actionbar--addlist row no-gutters">
    <div class="list__header col-12">
       <div class="list__drop" (click)="setAdditionalLists(false)">
        <svg class="align-absolute" width="300px" height="300px" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs></defs>
          <g id="icon_listdrop" fill="#000000" stroke="none" stroke-width="1" fill-rule="evenodd">
              <path d="M2.76228097,165.829042 L140.754043,28.1876852 C145.612908,23.3411585 153.387092,23.3411585 158.245957,28.1876852 L296.237719,165.829042 C301.096584,170.675569 299.347393,174.55279 292.544982,174.55279 L6.45501827,174.55279 C-0.347392548,174.55279 -2.0965839,170.675569 2.76228097,165.829042 Z M286.541667,275.335407 L12.4583333,275.335407 C5.64518229,275.335407 9.9475983e-14,269.671345 9.9475983e-14,262.835407 L9.9475983e-14,212.835407 C9.9475983e-14,205.99947 5.64518229,200.335407 12.4583333,200.335407 L286.541667,200.335407 C293.354818,200.335407 299,205.99947 299,212.835407 L299,262.835407 C299,269.671345 293.354818,275.335407 286.541667,275.335407 Z" id="icon" transform="translate(149.500000, 150.000000) scale(1, -1) translate(-149.500000, -150.000000) "></path>
          </g>
        </svg>
      </div>
      <p class="list__title">
          <span><i
            tooltip="View all the idea lists and pin them above for quick access"
            class="fa fa-plus-circle"
            aria-hidden="true"></i>&nbsp;View &amp; Pin lists...</span>
      </p>
    </div>
  </div>
  <!-- END: ADD LIST ACTION BAR -->

  <!-- ROW: ADD LIST BODY BOTTOM -->
  <div class="body__bottom body__bottom--listselect">

    <div class="list-selection__container container-fluid">
      <div class="list-selection__toggle row no-gutters">
        <ul class="col-12 nav nav-justified">
          <li (click)="whichAdditionalLists = 'Ideas'" class="nav-item"
              [ngClass]="{'selected' : whichAdditionalLists == 'Ideas'}">
            <a class="nav-link"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Idea Lists</a>
            <div class="underline">
            </div>
          </li>
          <li (click)="whichAdditionalLists = 'Themes'" class="nav-item"
              [ngClass]="{'selected' : whichAdditionalLists == 'Themes'}">
            <a class="nav-link"><i class="fa fa-flag" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Theme Lists</a>
            <div class="underline">
            </div>
          </li>
          <li (click)="whichAdditionalLists = 'User'" class="nav-item"
              [ngClass]="{'selected' : whichAdditionalLists == 'User'}">
            <a class="nav-link"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;My Lists</a>
            <div class="underline">
            </div>
          </li>
        </ul>
      </div>
      <div class="lists-container row no-gutters">
        <div class="lists col-6">
          <ul>
            <!-- Ideas Lists -->
            <ng-container *ngIf="whichAdditionalLists == 'Ideas'">
              <li (click)="selectList(list)" class="list-item"
                  *ngFor="let list of ( inActiveIdeasList | evenodd: 'even');let i = index;"
                  [ngClass]="{'selected' : list.name == selectedListName, 'bull-list' : checkIfBullList(list.name), 'bear-list' : checkIfBearList(list.name)}">
                <img class="align-absolute" [src]="list.name != selectedListName ? 'assets/imgs/'+mappingClassArray[list.name].greyImgName : 'assets/imgs/'+mappingClassArray[list.name].imgName">
                <p>{{list.name}}</p>
                <a (click)="manageActiveInactive('activate',list.list_id);$event.stopPropagation()"><i
                  class="fa fa-star" aria-hidden="true"></i></a>
              </li>
            </ng-container>
            <!--End Ideas Lists -->

            <!-- Themes Lists -->
            <ng-container *ngIf="whichAdditionalLists == 'Themes'">
              <li (click)="selectList(list)" class="list-item"
                  *ngFor="let list of ( inActiveThemeList | evenodd: 'even');let i = index;"
                  [ngClass]="{'selected' : list.name == selectedListName, 'bull-list' : checkIfBullList(list.name), 'bear-list' : checkIfBearList(list.name) }">
                <img class="align-absolute" [src]="list.name != selectedListName ? 'assets/imgs/'+mappingClassArray[list.name].greyImgName : 'assets/imgs/'+mappingClassArray[list.name].imgName">
                <p>{{list.name}}</p>
                <a (click)="manageActiveInactive('activate',list.list_id);$event.stopPropagation()"><i
                  class="fa fa-star" aria-hidden="true"></i></a>
              </li>
            </ng-container>
            <!-- End Themes Lists -->

            <!-- User Lists -->
            <ng-container *ngIf="whichAdditionalLists == 'User'">
              <li (click)="selectList(list)" class="list-item"
                  *ngFor="let list of userList;"
                  [ngClass]="{'selected' : list.name == selectedListName, 'bull-list' : checkIfBullList(list.name), 'bear-list' : checkIfBearList(list.name) }">
                <img class="align-absolute" [src]="list.name != selectedListName ? 'assets/imgs/'+mappingClassArray[list.name].greyImgName : 'assets/imgs/'+mappingClassArray[list.name].imgName">
                <p>{{list.name}}</p>
                <a (click)="manageActiveInactive('activate',list.list_id);$event.stopPropagation()"><i
                  class="fa fa-star" aria-hidden="true"></i></a>
              </li>
            </ng-container>
            <!-- End User Lists -->
          </ul>
        </div>
        <div class="descriptions col-6">
          <div class="container">
            <div class="description__actions row">
              <p class="label">Current List:</p>
              <ul class="col nav nav-justified">
                <li (click)="manageActiveInactive('activate',selectedListId);$event.stopPropagation()"
                    class="nav-item">
                  <a class="nav-link"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;&nbsp;Add to Favorites</a>
                </li>
                <li (click)="setAdditionalLists(false)" class="nav-item">
                  <a class="nav-link"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;View List</a>
                </li>
              </ul>
            </div>
            <div class="description__header bear-list row">
              <img class="" [src]="'assets/imgs/'+mappingClassArray[selectedListName].coloredImgName">
              <div class="header__copy col">
                <h1 class="bear-title"
                    [ngClass]="{'bear-title' : checkIfBearList(selectedListName), 'bull-title' : checkIfBullList(selectedListName)}">
                  {{selectedListName}}</h1>
                <p>{{selectedListTagline}}</p>
              </div>
            </div>
            <div class="description__copy row">
              <div class="copy__block">
                <h4>More about this list…</h4>
                <p>{{selectedListMoreInfo}}</p>
              </div>
            </div>
            <div class="description__copy row">
              <div class="copy__block">
                <h4>How should I use this list?</h4>
                <p>{{selectedListHowInfo}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END: ADD LIST BODY BOTTOM  -->

</div>
<!-- END SECTION: ADD LIST BOTTOM -->
