

/*------------------------------------*\
  #BODY
\*------------------------------------*/







.body__top {
	background-image: linear-gradient(0deg, #6F7689 0%, #313540 97%);
	height: 335px;
	position: relative;
	padding-top: 10px;
}





/*------------------------------------*\
  #SEARCH-BOX
\*------------------------------------*/





.list-view__actionbar .form-control {
	background-color: transparent;
	color: #FFFFFF;
}
 
.search-box {
	height: 50px;
	text-align: left;
	padding: 0;
	border:0;
	font-size: 24px;
	border-radius: 0;
	outline: none;
	color: #FFFFFF;
}

.search-submit {
	width: 60px;
	height: 50px;
	margin:0 0px 0 5px;
	position: relative;
		font-size: 28px;
}

.fa-search {
	font-size: 28px;
	color: #ffffff;
}

.list-view__actionbar .form-inline .form-control {
    width: 500px;
    font-weight: 300;
}




