p, span, label, li, a, button {
	font-family: 'Open Sans', sans-serif;
	padding:0;
	margin:0;
}

p {
	color: #4A4A4A;
}

div {
	display:block;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table {
    width: 100%;
}

button {
	border:0;
}

body {
	overflow: hidden;
	height: 100vh;

}






/*                                      */
/*               COMMON                 */
/*                                      */




.veryBullish, .strong, .up-change {
	color:#24A300;
}

.bullish {
	color:#6ACC00;
}

.neutral, .hold {
	color:#FF9900;
}

.bearish {
	color:#FD4500;
}

.veryBearish, .weak, .down-change {
	color:#EB001C;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.align-absolute {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.container {
	width: 100% !important;
}


::-webkit-input-placeholder { /* Chrome */
  color: rgba(255,255,255,0.75) !important;
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.75) !important;
   font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.75) !important;
  opacity: 1;
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255,255,255,0.75) !important;
  opacity: 1;
  font-weight: 300 !important;
  font-family: 'Open Sans', sans-serif !important;
}




.container-fluid {
	padding:0;
}








/*------------------------------------*\
  #SIDE BAR
\*------------------------------------*/



.sidebar__container {
	width: 240px;
	background: #E2E2E2;
	border-right: 1px solid #cccccc;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 85%, #FFFFFF 100%);
	z-index: 10;
}

.sidebar {
	position: relative;
	height: 100vh;
}

.sidebar__logo {
	padding: 15px 0 10px;
	width: 183px;
	margin: 0 auto;
}

.sidebar__logo img {
	width: 183px;
	height: 26px;
}

.sidebar__date {
	padding: 13px 0 15px;
}

.sidebar__date p {
  	font-family: 'Open Sans', sans-serif !important;
	font-size: 14px;
	color: #4A4A4A;
	font-weight: 400;
	text-align: center;
}

.collapse-sidebar {
	position: absolute;
	bottom:10px;
	right:10px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    color: #999999;
}

.collapse-sidebar a {
	cursor: pointer;
}

.collapse-sidebar i:hover {
	color: #1199ff;
}

.sidebar__panel {
	margin-bottom: 20px;
	border-bottom: 1px solid #CCCCCC;
}

.sidebar__panel .panel__header {
	color: #4A4A4A;
	padding: 10px 0 7px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	text-transform: uppercase;
	background-color: #FAFAFA;
}

.sidebar__panel .panel__header p.panel__title {
	margin-left: 10px;
	line-height: 1;
	font-size: 20px;
	float: left;
	font-weight: 300;
}

.sidebar__panel .panel__header p.icon-expand {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -2px;
	float: right;
	font-size: 24px;
}

.sidebar__panel .panel__header p.icon-expand a {
	color: #CCCCCC;
	cursor: pointer;
}

.open .panel__header p.icon-expand {
	transform: rotate(180deg);
}

.open .panel__header p.icon-expand a {
	color: #1199ff;
}

.sidebar__panel .panel__header p.icon-expand a:hover {
	color: #1199ff;
}

.sidebar__panel .panel__header p.panel-breakdown {
	float: right;
	line-height: 1;
	margin-right: 3px;
	color: #cccccc;
	font-size: 20px;
	font-weight: 300;
}

.sidebar__panel .panel__header p.panel-breakdown span {
	font-weight: 700;
	color: #4A4A4A;
	font-size: 18px;
}

.sidebar__panel .panel__header p.panel-breakdown img {
	display: inline-block;
	margin-top: -3px;
}






/*------------------------------------*\
  #MARKETS
\*------------------------------------*/




.sidebar__panel .panel__market-data {
	color: #4A4A4A;
	padding: 10px 0 7px;
	border-bottom:1px solid #CCCCCC;
	background-color: #EFEFEF;
}

.sidebar__panel .panel__market-data p {
	font-size: 16px;
	line-height: 1;
}

.sidebar__panel .panel__market-data p.market {
	color: #4A4A4A;
	font-weight: 700;
	margin-left: 10px;
	line-height: 1;
	float: left;
}

.sidebar__panel .panel__market-data p.market-price {
	color: #4A4A4A;
	font-weight: 600;
	margin-left: 10px;
	float: right;
}

.sidebar__panel .panel__market-data p.icon-expand {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: -5px;
	float: right;
	font-size: 24px;
}

.sidebar__panel .panel__market-data p.icon-expand a {
	color: #CCCCCC;
	cursor: pointer;
}

.sidebar__panel .panel__market-data p.icon-expand a:hover {
	color: #1199ff;
}


.open.panel__market-data--SPY p.icon-expand {
	transform: rotate(180deg);
	z-index: 1000;
}

.open.panel__market-data--SPY p.icon-expand a {
	color: #1199ff;
}



/*------------------------------------*\
  #MARKET-CHARTS
\*------------------------------------*/



.sidebar__panel .panel__market-data .panel__chart {
    position: relative;
}

.panel__chart--SPY {
	display: none;
}

.panel__chart--DIA {
	display: none;
}

.panel__chart--QQQ {
	display: none;
}

.panel__chart .chart-container {
    width: 210px;
    float:left;
    height: 100px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    margin-top:7px;
    position: relative;
}

.panel__chart .previous-close-line {
	top:25px;
}

.panel__chart hr.midline {
	position: absolute;
	border:1px solid #dddddd;
	width: 218px;
	top:55px;
	padding:0;
	margin:0;
}

.panel__chart hr.midline {
	position: absolute;
	border:1px solid #dddddd;
	width: 210px;
	top:50px;
	padding:0;
	margin:0;
	z-index: 50;
}

.panel__chart hr.dotted-line {
	position: absolute;
	border: 1px dotted #383838;
    border-style: none none dotted; 
	width: 210px;
	padding:0;
	margin:0;
	z-index: 100;	
}

.panel__chart .graph {
	position: absolute;
	display: block;
	top:0;
	left:15px;
	z-index: 200;
}

.panel__chart .y-axis {
    float: left;
    position: absolute;
    top: 15px;
    right: 4px;
}

.panel__chart .y-axis p {
    font-weight: 400;
    font-size: 10px;
    margin: 0;
    padding: 0;
    color: #999999;
    text-align: right;
}

.panel__chart .y-axis-middle {
    padding: 36px 0;
}

.x-axis {
    padding: 0 0 5px;
    border: none !important;
    margin-top: 10px;
}

.x-axis p {
    display: block;
    padding: 0;
    margin:0;
    line-height: 1;
}

.x-axis span {
    font-size: 11px;
    font-weight: 400;
    margin: 5px 0 0 0;
    padding: 0 24px;
    color: #999999;
    float: left;
}






/*------------------------------------*\
  #SECTORS
\*------------------------------------*/




.panel__expand {
	color: #4A4A4A;
	border-bottom:1px solid #CCCCCC;
	background-color: #F4F4F4;
	font-size: 16px;
	line-height: 1;
}

.panel__expand--sectors {
	padding: 0px 28px 10px 10px;
	display: none;
}

.panel__expand--sectors li {
	width: 100%;
	clear: both;
	padding: 11px 0;
}

.panel__expand--sectors .sector-arrow {
	float: left;
	margin-top: 2px;
	margin-right: 10px;
	margin-left: 5px;
}

.panel__expand--sectors .sector {
	float: left;
	font-weight: 400;
}

.panel__expand--sectors .sector-change {
	float: right;
	font-weight: 600;
}







/*------------------------------------*\
  #ALERTS
\*------------------------------------*/




.panel__expand--alerts {
	padding: 0px 5px 10px 5px;
	display: block;
}

.panel__expand--alerts li {
	width: 100%;
	clear: both;
	padding: 15px 0;
}

.panel__expand--alerts .alert__pgr {
	float: left;
	margin-top: 2px;
	margin-right: 5px;
	margin-left: 0px;
}

.panel__expand--alerts .alert__ticker {
	float: left;
	font-weight: 700;
	width: 60px;
	font-size: 16px;
}

.panel__expand--alerts .alert__arrow {
	float: right;
	font-weight: 600;
	margin-right: 5px;
	margin-top: 2px;
}

.panel__expand--alerts .alert__description {
	float: right;
	font-size: 10px;
	width: 115px;
	line-height: 1.5;
	margin-top: -2px;
}





.alerts-toggle {
	width: 100%;
	margin-top: 10px;
}

.alerts-toggle .dots {
    float: left;
    line-height: 1.4;
    text-align: center;
}

.alerts-toggle a i {
    color: #000000;
    font-size: 18px;
    float: left;
    margin:4px 5px 0;
    text-decoration: none;
}

.alerts-toggle i {
    font-size: 11px;
    color: #cccccc;
}

.alerts-toggle .dots i.selected {
    font-size: 11px;
    color: #1199ff;
}

.alerts-toggle a i.fa-caret-right {
	float: right;
}





















/*------------------------------------*\
  #BODY
\*------------------------------------*/





.body__container {
	float: left;
	z-index: 1;
}

.body {
	padding-left: 240px;
}

.body__top {
	background-image: linear-gradient(0deg, #6F7689 0%, #313540 97%);
	height: 355px;
	position: relative;
	padding-top: 10px;
}








/*------------------------------------*\
  #PRIMARY-NAV
\*------------------------------------*/




.nav__container {
	margin-bottom: 10px;
	padding-left:20px;
}

.nav__main {
}

.nav__main .nav .nav-item a {
	color: rgba(255,255,255, 0.5);
	font-size: 15px;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 0.1em;
}

.nav__main .nav li.nav-item {
	padding:0 15px;
}

.nav__main .nav .nav-item  a:hover {
	color: rgba(255,255,255, 1);
	box-shadow: inset 0px 5px 0px #ffffff;
	font-weight: 400;
}

.nav__main .nav .nav-item  a:active {
	color: rgba(255,255,255, 1);
	box-shadow: inset 0px 5px 0px #ffffff;
	font-weight: 400;
}

.nav__main .nav .nav-item a.active {
	color: rgba(255,255,255, 1);
	box-shadow: inset 0px 5px 0px #ffffff;
	font-weight: 400;
}

.nav__settings {
}

.nav__settings a i {
	float: right;
	font-size: 25px;
	color: rgba(255,255,255, 0.5);
	margin: 10px;
}

.nav__settings a i:hover {
	float: right;
	font-size: 25px;
	color: rgba(255,255,255, 1);
	margin: 10px;
}






/*------------------------------------*\
  #LIST-CAROUSEL
\*------------------------------------*/




.list-carousel {
	height: 295px;
	margin-left:40px;
	border-left: 1px dashed #999999;
	overflow-x: scroll;
	position: relative;
	overflow-y: hidden;
}





.list-category {
	position: absolute;
	font-size: 30px;
	height: 295px;
	font-weight: 300;
	line-height: 1;
	top: 0px;
	opacity: 0.5;
}

.list-category--mylists {
	left: 20px;
}

.list-category--ideas {
	left: 408px;
	border-left: 1px dashed #999999;
}

.list-category--ideas p {
	margin-left: 20px;
}

.list-category p {
	color: #FFFFFF;
}






.list-carousel ul {
    width: 100%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
    margin-top: 40px;
}

.list-carousel .list__option {
	display: inline-block;
	position: relative;
	height: 255px;
	vertical-align: top;
}

.list-carousel .list__image {
	width: 160px;
	height: 160px;
	border: 3px solid #FFFFFF;
	box-shadow: 0 0 18px 0 rgba(0,0,0,0.33);
	position: relative;
	margin: 20px 20px 10px;
	border-radius: 80px;
}

.list-carousel .list__option.selected {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.40) 90%);
    background-repeat: no-repeat;
    background-position: 8px 95px;
    background-size: 182px;
}

.list-carousel .list__option.selected .list__image {
	width: 184px;
	height: 184px;
	border: 3px solid #FFFFFF;
	box-shadow: 0 0 18px 0 rgba(0,0,0,0.33);
	position: relative;
	margin: 0 8px 10px 8px;
	border-radius: 92px;
}

.list-carousel .list__option.hover {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.40) 90%);
    background-repeat: no-repeat;
    background-position: 8px 95px;
    background-size: 182px;
}

.list-carousel .list__option.hover .list__image {
	width: 184px;
	height: 184px;
	border: 3px solid #FFFFFF;
	box-shadow: 0 0 18px 0 rgba(0,0,0,0.33);
	position: relative;
	margin: 0 8px 10px 8px;
	border-radius: 92px;
}




.list-carousel .list__option--add.selected .list__image {
	border: 3px dashed #FFFFFF;
}

.list-carousel .list__option--add.hover .list__image {
	border: 3px dashed #FFFFFF !important;
}







/*------------------------------------*\
  #LIST-OPTION Gradients
\*------------------------------------*/



.list__option--userlist .list__image {
	background-image: linear-gradient(145deg, #00CD00 0%, #00A3FF 100%);
}

.list__option--idealist .list__image {
	background-image: linear-gradient(148deg, #FDDC04 15%, #E10281 100%);
}

.list__option--IPlist .list__image {
	background-image: linear-gradient(-32deg, #7000A8 0%, #FF8500 94%);
}

.list__option--chartlist .list__image {
	background-image: linear-gradient(-36deg, #6D0A95 0%, #0096D4 100%);
}


.list__option--companylist .list__image {
	background-image: linear-gradient(-25deg, #FFE500 0%, #00C50E 100%);
}

.list__option--addlist .list__image {
	background-image: linear-gradient(0deg, #6F7689 0%, #313540 100%);
	border: 3px dashed #FFFFFF;
}







/*------------------------------------*\
  #LIST-OPTION Image
\*------------------------------------*/



.list__option--holding .list__image img {
	width: 115px;
	height: auto;
	margin-top:-1px;
}

.list__option--holding.selected .list__image img {
	width: 75%;
	height: auto;
	margin-top:-4px;
}

.list__option--holding.hover .list__image img {
	width: 75%;
	height: auto;
	margin-top:-4px;
}



.list__option--watching .list__image img {
	width: 132px;
	height:auto;
	margin-top: 2px;
}

.list__option--watching.selected .list__image img {
	width: 147px;
	height: auto;
}

.list__option--watching.hover .list__image img {
	width: 147px;
	height: auto;
}



.list__option--ideasforyou .list__image img {
	width: 78px;
	height: auto;
	margin-top: 1px;
}

.list__option--ideasforyou.selected .list__image img {
	width: 88px;
	height: auto;
	margin-top: 1px;
}

.list__option--ideasforyou.hover .list__image img {
	width: 88px;
	height: auto;
	margin-top: 1px;
}



.list__option--classicbulls .list__image img {
	width: 120px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbulls.selected .list__image img {
	width: 133px;
	height: auto
	margin-top: 2px;
}

.list__option--classicbulls.hover .list__image img {
	width: 133px;
	height: auto;
	margin-top: 2px;
}



.list__option--classicbears .list__image img {
	width: 118px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbears.selected .list__image img {
	width: 132px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbears.hover .list__image img {
	width: 132px;
	height: auto;
	margin-top: 2px;
}



.list__option--selldips .list__image img {
	width: 107px;
	height: auto;
	margin-top: -3px;
}

.list__option--selldips.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: -3px;
}

.list__option--selldips.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: -3px;
}



.list__option--buyrallies .list__image img {
	width: 107px;
	height: auto;
	margin-top: 5px;
}

.list__option--buyrallies.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: 5px;
}

.list__option--buyrallies.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: 5px;
}

.list__option--largecap .list__image img {
	width: 106px;
	height: auto;
	margin-top: -8px;
}

.list__option--largecap.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: -8px;
}

.list__option--largecap.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: -8px;
}


.list__option--add .list__image i {
	font-size: 48px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
}

.list__option--add.selected .list__image i {
	font-size: 54px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
}

.list__option--add.hover .list__image i {
	font-size: 54px;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.50);
}





/*------------------------------------*\
  #LIST-OPTION Label
\*------------------------------------*/



.list__option p.list__label {
	font-size: 20px;
	color: #FFFFFF;
	line-height: 26px;
	text-align: center;
	font-weight: 300;
	width: 200px;
	height: 70px;
	padding: 0 20px;
	white-space: normal;
}


.list-carousel .list__option.selected p.list__label {
	font-weight: 600;
}






/*------------------------------------*\
  #LIST-DESCRIPTION
\*------------------------------------*/




.list-description__container {
	position: absolute;
	bottom: 0;
	background-color: #393d47;
	height: 50px;
	width: 100%;
}

.list-description__container .list-description {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 50px;
	font-weight: 300;
	letter-spacing: 0.05em;
	white-space: nowrap;
	position: absolute;
}

.list-description__container .toggle-arrow {
	position: absolute;
	font-size: 50px;
	color: #999999;
	margin-top:-2px;
}

.list-description__container .toggle-arrow:hover {
	color: #ffffff;
}

.list-description__container .toggle-arrow--left {
	left:20px;
}

.list-description__container .toggle-arrow--right {
	right:20px;
}






.list-description span {
	display: none;
}

.list-description span.selected-hidden {
	display: none !important;
}

.list-description--holding.hover, .list-description--holding.selected {
	display: block;
}

.list-description--watching.hover, .list-description--watching.selected  {
	display: block;	
}

.list-description--ideasforyou.hover, .list-description--ideasforyou.selected {
	display: block;
}

.list-description--classicbears.hover, .list-description--classicbears.selected {
	display: block;
}

.list-description--classicbulls.hover, .list-description--classicbulls.selected {
	display: block;	
}

.list-description--selldips.hover, .list-description--selldips.selected {
	display: block;
}

.list-description--largecap.hover, .list-description--largecap.selected {
	display: block;
}

.list-description--addlist.hover, .list-description--addlist.selected {
	display: block;
}

.list-description--buyrallies.hover, .list-description--buyrallies.selected {
	display: block;
}








/*------------------------------------*\
  #BODY-BOTTOM
\*------------------------------------*/





.body__bottom {

}





/*------------------------------------*\
  #ACTION-BAR
\*------------------------------------*/



.list-view__actionbar {
	border: 2px solid #FFFFFF;
	width: 100%;
	height: 55px;
}

.list__header {
	border-right:2px solid #ffffff;
}






.list-view__actionbar--userlist {
	background-image: linear-gradient(148deg, #00CD00 0%, #00A3FF 100%);
}

.list-view__actionbar--idealist {
	background-image: linear-gradient(145deg, #FDDC04 0%, #E10281 100%);
}

.list-view__actionbar--IPlist {
	background-image: linear-gradient(-31deg, #7000A8 0%, #FF8500 100%);
}

.list-view__actionbar--chartlist {
	background-image: linear-gradient(-31deg, #6D0A95 0%, #0096D4 100%);
}






.list__header .sort-toggle:hover  {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 100%);
}



.list-sort__button {
	position: relative;
	cursor: pointer;
	float: left;
	border-right:2px solid #ffffff;
}

.list-view__actionbar .sort-toggle {
	width: 45px;
	height: 55px;
	font-size: 20px;
	color: #ffffff;
	position: relative;
}

.list-view__actionbar .sort-toggle i {
	color: #ffffff;
	margin-top: -1px;
}

.list-sort__text {
	float: left;
}

.list-sort__text p {
	color: #ffffff;
	line-height: 40px;
	border-left: 1px solid #ffffff;
	height: 40px;
	font-weight: 300;
	padding-left:10px;
	font-size: 14px;
}

.list-sort__text span {
	color: #ffffff;
	font-weight: 600;
}

.dropdown-menu {
    position: absolute;
    top: 51px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 150px;
    padding: 0;
    margin: 0 0 0 -2px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #393d47;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid #ffffff;
    border-radius: 0;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.dropdown-submenu li {
	position: relative;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a {
    color: #ffffff;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -2px;
    margin-left: 1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ededed;
    margin-top: 5px;
    margin-right: 10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

.dropdown-toggle::after {
    display: none;
    width: 0;
    height: 0;
    margin-right: .3em;
    margin-top: 
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

.dropdown-toggle {
	width: 100%;
	height: 40px;
	display: block;
}

.dropdown-subtoggle {
	width: 100%;
	height: 100%;
	display: block;
	border-bottom: 2px solid #ffffff;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.dropdown-menu:last-child {
	border-bottom: 0px solid #ffffff;
}

.dropdown-subtoggle:hover {
	background-color: #5B6172;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
}





.list-view__actionbar .list__title {
	font-size: 28px;
	float: left;
	color: #FFFFFF;
	line-height: 48px;
	white-space: nowrap;
	font-weight: 300;
	margin-left: 20px;
}

.list-view__actionbar .list__title span {
	display: none;
}

.list-view__actionbar .list__title span.list__title--holding.selected {
	display: block;
}

.list-view__actionbar .list__title span.list__title--watching.selected {
	display: block;
}

.list-view__actionbar .list__title span.list__title--ideasforyou.selected {
	display: block;
}

.list-view__actionbar .list__title span.list__title--classicbears.selected {
	display: block;
}

.list-view__actionbar .list__title span.list__title--classicbulls.selected {
	display: block;
}

.list-view__actionbar .list__title span.list__title--selldips.selected {
	display: block;
}






.list-view__actionbar .view-toggle {
	float: right;
	width: 60px;
	height: 55px;
	font-size: 22px;
	color: #ffffff;
	position: relative;
	border-left:2px solid #ffffff;
}

.list-view__actionbar .view-toggle i {
	color: #ffffff;
	margin-top: -2px;
}

.list__header .view-toggle:hover  {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 100%);
}

.list__header .view-toggle.active  {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.20) 0%, #FFFFFF 100%);
}




.list-view__actionbar--idealist .list__header .view-toggle.active i {
	color: #F0773F;
}

.list-view__actionbar--userlist .list__header .view-toggle.active i {
	color: #00A168;
}

.list-view__actionbar--IPlist .list__header .view-toggle.active i {
	color: #CB5B50;
}

.list-view__actionbar--chartlist .list__header .view-toggle.active i {
	color: #5633C5;
}





/*------------------------------------*\
  #SEARCH-BOX
\*------------------------------------*/





.list-view__actionbar .form-control {
	background-color: transparent;
	color: #FFFFFF;
}
 
.search-box {
	height: 50px;
	text-align: left;
	padding: 0;
	border:0;
	font-size: 24px;
	border-radius: 0;
	outline: none;
	color: #FFFFFF;
}

.search-submit {
	width: 60px;
	height: 50px;
	margin:0 0px 0 5px;
	position: relative;
		font-size: 28px;
}

.fa-search {
	font-size: 28px;
	color: #ffffff;
}

.list-view__actionbar .form-inline .form-control {
    width: 500px;
    font-weight: 300;
}








/*------------------------------------*\
  #CURRENT-LIST
\*------------------------------------*/






.current-list__container {

}

.current-list__container .sort-header {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0;
	line-height: 28px;
	font-weight: 300;
	border-bottom: 1px solid #cccccc;
}

.current-list__container .sort-header p {
	color: #999999;
	text-align: center;
}

.current-list__container .sort-header p.active {
	font-weight: 600;
}






.current-list {
	height: 100vh;
	overflow-y: scroll;
}

.list__container {
	padding-bottom: 484px;
}

.list__entry {
	background-color: #fafafa;
	height: 60px;
	border-left: 0;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding-left:0;
	padding-right:0;
	margin-right: 0;
  	margin-left: 0;
  	overflow: hidden;
  	position: relative;
}

.list__entry.hover {
	background-color: #ffffff;
}

.list__entry.selected {
	background-color: #ffffff;
	height: 60px;
	border-left: 0;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #ffffff;
	padding-left:0;
	padding-right:0;
	margin-right: 0;
  	margin-left: 0;
  	overflow: hidden;
  	position: relative;
}



.stock__PGR {
	position: relative;
}

.stock__ticker {
	font-size: 24px;
	font-weight: 700;
	line-height: 60px;
	white-space: nowrap;
}

.stock__company-name {
	font-size: 16px;
    font-weight: 300;
    float: left;
    line-height: 60px
}

.stock__price  {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	line-height: 60px;
}





.list__entry.hover .stock__options-button {
	display: block;
}

.list__entry.selected .stock__options-button {
	display: none;
}

.stock__options-button {
	display: none;
	position: absolute;
	right:0px;
	top:0px;
	cursor: pointer;
	width: 20px;
	height: 60px;
	padding: 12px 5px;
}





.stock-options__popup {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #1199ff;
	z-index: 100;
	height: 60px;
	width: 260px;
}

.stock-options__popup ul.nav {
	z-index: 100;
}

.stock-options__popup .stock__options-button {
	display: block;
	margin-right: 260px;
	cursor: pointer;
	width: 5000px;
	padding-right: 10px;
}

.stock-options__popup .stock__options-button img {
	float: right;
}

.stock-options__popup .nav-item {
	height: 60px;
	padding-top: 6px;
}

.stock-options__popup .nav-item:hover {
	background-color: rgba(255,255,255,0.2);
}

.stock-options__popup .nav-item p {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	margin-top: 3px;
}












/*------------------------------------*\
  #QUICK-VIEW
\*------------------------------------*/






.quick-view__container {

}

.quick-view__panel {
	padding: 20px 30px;
}





.quick-view__data .stock-panel__PGR {
	float: left;
}

.quick-view__data .stock-panel__PGR img {
	width: 70px;
	height: auto;
	margin-right: 15px;
}





.quick-view__data .stock-panel__ticker {
	float: left;
}

.quick-view__data .stock-panel__ticker p {
	font-size: 40px;
	line-height: 1;
	font-weight: 800;
}





.quick-view__data .button__view-summary {
	float: right;
	width: 40px;
}

.quick-view__data .button__view-summary img {
	float: left;
	width: 35px;
}






.quick-view__data .stock-panel__company-name {
	margin: 15px 0;
}

.quick-view__data .stock-panel__company-name .button__add-to-list {
	float: left;
	margin-right: 0px;
}

.quick-view__data .stock-panel__company-name .button__add-to-list a {
	opacity: 0.5;
	font-size: 24px;
	color: #999999;
	margin-right: 20px;
	cursor: pointer;
}

.quick-view__data .stock-panel__company-name .button__add-to-list a:hover {
	opacity: 1;
	color: #1199ff;
}




.quick-view__data .stock-panel__company-name p {
	font-size: 24px;
	line-height: 24px;
	float: left;
}

.quick-view__data .stock-panel__price {
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
}

.quick-view__data .stock-panel__price p {
	font-weight: 600;
	font-size: 20px;
	color: #CC0000;
}

.quick-view__data .stock-panel__price p.current-price {
	font-weight: 700;
}






.quick-view__data .stock-panel__industry {
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 10px;
	padding-left: 15px;
}

.quick-view__data .stock-panel__industry p {
	font-weight: 400;
	font-size: 13px;
	color: #777777;
	text-transform: uppercase;
	margin: 2px 0;
}

.quick-view__data .stock-panel__industry p span {
	font-size: 18px;
	color: #4A4A4A;
	text-transform: none;
	margin-left: 15px;
	font-weight: 600;
}

.quick-view__data .stock-panel__industry p span.industry-strength {
	font-weight: 800;
	text-transform: uppercase;
}

.quick-view__data .stock-panel__industry p span.industry-strength.strong {
	color: #24A300;
}






.quick-view__data .stock-panel__details {
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.quick-view__data .stock-panel__details p {
	font-weight: 400;
	font-size: 13px;
	color: #777777;
	text-transform: uppercase;
	margin: 2px 0;
}

.quick-view__data .stock-panel__details p span {
	font-size: 18px;
	color: #4A4A4A;
	text-transform: none;
	margin-left: 15px;
	font-weight: 600;
}






.quick-view__pgr {
	border-left: 1px solid #eeeeee;
}

.quick-view__pgr .pgr__title {
	font-weight: 400;
	font-size: 13px;
	color: #777777;
	text-transform: uppercase;
	line-height: 1;
}

.quick-view__pgr .pgr__text {
	font-weight: 800;
	font-size: 28px;
	text-transform: uppercase;
}


.quick-view__pgr .pgr__sliders {
	margin-top: 5px;
}

.quick-view__pgr .pgr__sliders li {
	margin: 5px 0;
}






/*                                      */
/*             PGR SLIDERS              */
/*                                      */




.sliderBar-container {

}



.pgr__label {
	font-weight: 600;
	font-size: 13px;
	color: #777777;
	text-transform: uppercase;
	margin: -1px 0 2px;
}

.sliderProgress {
    height: 16px;
    margin-bottom: 7px;
    overflow: hidden;
    background: #E3E3E3 ; /* Old browsers */
	background: -moz-linear-gradient(left, rgba(224,0,0,0.1) 0%, rgba(239,90,0,0.1) 25%, rgba(255,190,0,0.1) 50%, rgba(97,198,0,0.1) 75%, rgba(36,163,0,0.1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(224,0,0,0.1) 0%,rgba(239,90,0,0.1) 25%,rgba(255,190,0,0.1) 50%,rgba(97,198,0,0.1) 75%,rgba(36,163,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(224,0,0,0.1) 0%,rgba(239,90,0,0.1) 25%,rgba(255,190,0,0.1) 50%,rgba(97,198,0,0.1) 75%,rgba(36,163,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ae00000', endColorstr='#1a24a300',GradientType=1 ); /* IE6-9 */
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.sliderBar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}
    
.slider-veryBearish {
    background-color: #e00000;
    left: 0%;
    position: absolute;
    margin-top: -4px;
    margin-left:7px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-bearish {
    background-color: #ef5a00;
    left: 25%;
    position: absolute;
    margin-top: -4px;
    margin-left:0px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-neutral {
    background-color: #ffbe00;
    left: 50%;
    position: absolute;
    margin-top: -4px;
    margin-left:0px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-bullish {
    background-color: #61c600;
    left: 75%;
    position: absolute;
    margin-top: -4px;
    margin-left:-28px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}

.slider-veryBullish {
    background-color: #24a300;
    left: 100%;
    position: absolute;
    margin-top: -4px;
    margin-left:-30px;
    z-index: 1;
    height: 23px;
    width: 23px;
    border-radius: 25px;
    border: 4px solid #ffffff;
}



















.quick-view__chart-container {
	height: 150px;
}







.quick-view__similar {
	background-color: #EFF8FF;
	padding: 10px 0;
	margin-bottom: 15px;
}

.quick-view__similar .discover-label {
	font-size: 14px;
	color: #1199FF;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 30px
}

.quick-view__similar .discover-label img {
	padding-right: 10px;
	display: inline-block;
}

.quick-view__similar .similar-stock {
	font-size: 18px;
	color: #4A4A4A;
	font-weight: 800;
	text-align: center;
	line-height: 30px
}







.quick-view__news {
	height: 50px;
	padding: 10px 0;
	font-size: 20px;
	background-color: #ffffff;
	margin-top: 10px;
	border-top: 1px solid #cccccc;
}

.quick-view__news span {
	font-weight: 800;
}

.quick-view__news .headlines-expand {
	font-size: 14px;
	color: #1199FF;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 30px;
}

.quick-view__news .headlines-expand i {
	font-size: 24px;
	color: #1199FF;
	line-height: 1;
	display: inline-block;
}












