<!-- SECTION: HOME BODY BOTTOM  -->
<div class="body__bottom">

  <!-- ROW: ACTION BAR  -->
  <div *ngIf="additionalLists != true" [ngClass]="{'list-view__actionbar--bulllist' : checkIfBullList(), 'list-view__actionbar--userlist' : checkIfUserList(), 'list-view__actionbar--bearlist' : checkIfBearList()}" class="list-view__actionbar row no-gutters">
    <div class="list__header col-md-6">
      <p class="list__title">
        <span class="list__title"><i *ngIf="checkIfUserList()" class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; {{selectedListName}}</span>
      </p>
      <a (click)="gotoPanelView()" [ngClass]="{'active selected' : this.currentView == 'panel-view'}" class="view-toggle view-toggle--panel-view"><i class="fa fa-th-large align-absolute" aria-hidden="true"></i></a>
      <a (click)="gotoListView()" [ngClass]="{'active selected' : this.currentView == 'list-view'}" class="view-toggle view-toggle--list-view active"><i class="fa fa-list align-absolute" aria-hidden="true"></i></a>
      <ul>
        <li class="list-sort__button dropdown">
          <a class="sort-toggle dropdown-toggle" data-toggle="dropdown"><i
            class="fa fa-sort-amount-desc align-absolute" aria-hidden="true"></i></a>
          <ul class="top-sort-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Relevance</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li (click)="setOrderByObject('', true)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Most Relevant</a></li>
                <li (click)="setOrderByObject('', false)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Least Relevant</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Company Name</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li (click)="setOrderByObject('name', true)"><a class="dropdown-subtoggle" tabindex="-1" href="#">A-Z</a></li>
                <li (click)="setOrderByObject('name', false)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Z-A</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Stock
                Price</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li (click)="setOrderByObject('Last', false)"><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li (click)="setOrderByObject('Last', true)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">% Change</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li (click)="setOrderByObject('Percentage ', false)"><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li (click)="setOrderByObject('Percentage ', true)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Market
                Cap</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li (click)="setOrderByObject('marketCap', false)"><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li (click)="setOrderByObject('marketCap', true)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">% Yield</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li (click)="setOrderByObject('div_yield', false)"><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li (click)="setOrderByObject('div_yield', true)"><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-md-6 search__container">
      <symbol-search></symbol-search>
    </div>
  </div>
  <!-- END: ACTION BAR  -->

  <!-- SECTION: VIEW LIST  -->
  <div *ngIf="this.currentView == 'list-view' && this.additionalLists != true" class="body__bottom--listview selected">

    <!-- ROW: CURRENT LIST  -->
    <div [ngBusy]="symbolListLoading" class="row no-gutters">
      <div class="current-list__container col-md-6">
        <div class="sort-header row no-gutters">
          <div class="col-lg-2 col-xl-2 ">
            <p class="active">Rating</p>
          </div>
          <div class="col-lg-3 col-xl-2 ">
            <p style="text-align: left;">Ticker</p>
          </div>
          <div class="col-lg-3 col-xl-4 ">
            <p style="text-align: left;">Company</p>
          </div>
          <div class="col-lg-2 col-xl-2 ">
            <p>Price</p>
          </div>
          <div class="col-lg-2 col-xl-2 ">
            <p>% Chg</p>
          </div>
        </div>
        <!-- LIST: HOLDING  -->
        <div class="current-list  current-list--holding ">
          <ul *ngIf="!ideaList?.length" class="list__container">
            <p class="empty-list__text">There are currently no stocks in this list.</p>
          </ul>
          <ul *ngIf="ideaList?.length" class="list__container">
            <li [ngClass]="{'active selected' : this.selectedStock == idea}" (click)="toggleOptions(idea, $event); selectStock(idea)" (mouseenter)="toggleHoverOptions(idea)"
                (mouseleave)="toggleHoverOptions(idea)" class="row no-gutters list__entry"
                *ngFor="let idea of ideaList | orderBy:orderByObject?.field:orderByObject?.ascending ">
              <div *ngIf="popupOptionsMap[idea.symbol] == true" class="stock-options__popup">
                <ul class="nav nav-justified">
                  <li *ngIf="!idea.is_holding_stock" (click)="addToHoldingList(idea.symbol, $event)" class="nav-item stock-option--hold">
                    <img src="assets/imgs/icon-plus.svg">
                    <p>Hold</p>
                  </li>
                  <li *ngIf="idea.is_holding_stock" (click)="addToHoldingList(idea.symbol, $event)" class="nav-item stock-option--hold">
                    <!--<img src="assets/imgs/icon-plus.svg">-->
                    <p>Hold</p>
                  </li>
                  <li *ngIf="!idea.is_watching_stock" (click)="addToWatchingList(idea.symbol, $event)" class="nav-item stock-option--watch">
                    <img src="assets/imgs/icon-watch.svg">
                    <p>Watch</p>
                  </li>
                  <li *ngIf="idea.is_watching_stock" (click)="addToWatchingList(idea.symbol, $event)" class="nav-item stock-option--watch">
                    <!--<img src="assets/imgs/icon-watch.svg">-->
                    <p>Watch</p>
                  </li>
                  <li (click)="goToStockView(idea, $event)" class="nav-item stock-option--view">
                    <img src="assets/imgs/icon-stockview.svg">
                    <p>View</p>
                  </li>
                </ul>
                <div (click)="toggleOptions(idea, $event)" class="stock__options-button">
                  <img src="assets/imgs/icon_threedots.svg">
                </div>
              </div>
              <div class="col-lg-2 col-xl-2 stock__PGR">
                <img class="align-absolute" src="{{appendPGRImage(idea.PGR)}}">
              </div>
              <div class="col-lg-3 col-xl-2 stock__ticker">
                <p class="">{{ idea.symbol }}</p>
              </div>
              <div class="col-lg-3 col-xl-4 stock__company-name">
                <p class="">{{ idea.name }}</p>
              </div>
              <div class="col-lg-2 col-xl-2 stock__price">
                <p class="data" [ngClass]="{'up-change' : idea['Percentage '] > 0, 'down-change' : idea['Percentage '] < 0}">${{ idea.Last | decimal}}</p>
              </div>
              <div class="col-lg-2 col-xl-2 stock__price">
                <p class="data" [ngClass]="{'up-change' : idea['Percentage '] > 0, 'down-change' : idea['Percentage '] < 0}">{{ idea["Percentage "] | decimal}}%</p>
              </div>
              <div (click)="toggleOptions(idea, $event)" *ngIf="mouseHoverOptionsMap[idea.symbol] == true"
                   class="stock__options-button">
                <img src="assets/imgs/icon_threedots.svg">
              </div>
            </li>
          </ul>
        </div>
      </div>


      <!-- QUICKVIEW PANEL  -->
      <div *ngIf="!this.selectedStock" class="quick-view__container col-md-6">
        <p class="empty-list__text">Oops...Looks like you'll have to select a stock to get started!</p>
      </div>
      <div *ngIf="this.selectedStock" class="quick-view__container col-md-6">
        <div [ngBusy]="[loading, headlinesLoading]" class="quick-view__panel">
          <div class="quick-view__data row">

            <div class="col-lg-8">
              <div class="clearfix">
                <div class="stock-panel__PGR">
                  <img src="{{appendPGRImage(this.selectedStock.PGR)}}">
                </div>
                <div class="stock-panel__ticker">
                  <p>{{selectedStock?.symbol}}</p>
                </div>
                <div (click)="goToStockView(this.selectedStock, $event)" class="button__view-summary">
                  <img src="assets/imgs/icon-stockview--blue.svg">
                </div>
              </div>
              <div class="stock-panel__company-name row">
                <div class="button__add-to-list">
                  <a *ngIf="!selectedStock.is_holding_stock" (click)="addToHoldingList(selectedStock.symbol, $event)" class="button__hold"><i class="fa fa-briefcase" aria-hidden="true"></i></a>
                  <a *ngIf="selectedStock.is_holding_stock" (click)="removeFromList(selectedStock.symbol, $event)" class="button__hold"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                  <a *ngIf="!selectedStock.is_watching_stock" (click)="addToWatchingList(selectedStock.symbol, $event)" class="button__watch"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                  <a *ngIf="selectedStock.is_watching_stock" (click)="removeFromList(selectedStock.symbol, $event)" class="button__watch"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>
                <p>{{selectedStock.name}}</p>
              </div>
              <div class="stock-panel__price row">
                <div class="col-4">
                  <p class="current-price" [ngClass]="{'up-change' : selectedStock['Percentage '] > 0, 'down-change' : selectedStock['Percentage '] < 0}">${{selectedStock?.Last | decimal}}</p>
                </div>
                <div class="col-4">
                  <p class="price-change" [ngClass]="{'up-change' : selectedStock['Percentage '] > 0, 'down-change' : selectedStock['Percentage '] < 0}">{{selectedStock?.Change | decimal}}</p>
                </div>
                <div class="col-4">
                  <p class="percent-change" [ngClass]="{'up-change' : selectedStock['Percentage '] > 0, 'down-change' : selectedStock['Percentage '] < 0}">{{ selectedStock ? (selectedStock["Percentage "] | decimal) : null }}%</p>
                </div>
              </div>
              <div class="stock-panel__industry row">
                <p>Industry: <span class="industry">{{selectedStock?.industry_name}}</span></p>
                <p>Ind.&nbsp;Strength: <span class="industry-strength strong"> Strong</span></p>
              </div>
              <div class="stock-panel__details row">
                <div class="col-lg-6">
                  <p>Mkt&nbsp;Cap:<span>{{selectedStock?.market_cap}}</span></p>
                </div>
                <div class="col-lg-6">
                  <p>Yield:<span>{{selectedStock?.div_yield}}%</span></p>
                </div>
              </div>
            </div>

            <div class="quick-view__pgr col-lg-4">
              <p class="pgr__title">Power Gauge Rating:</p>
              <p class="pgr__text" [ngClass]="appendPGRClass(selectedStock.PGR)">
                {{appendPGRText(selectedStock.PGR)}}
              </p>
              <ul class="pgr__sliders row">
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(selectedStockPGR?.Financials)"></div>
                      <div class="sliderBar" [ngClass]="appendSliderBarClass(selectedStockPGR?.Financials)" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Financials</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(selectedStockPGR?.Earnings)"></div>
                      <div class="sliderBar" [ngClass]="appendSliderBarClass(selectedStockPGR?.Earnings)" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Earnings</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(selectedStockPGR?.Technicals)"></div>
                      <div class="sliderBar" [ngClass]="appendSliderBarClass(selectedStockPGR?.Technicals)" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Technicals</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(selectedStockPGR?.Experts)"></div>
                      <div class="sliderBar" [ngClass]="appendSliderBarClass(selectedStockPGR?.Experts)" role="progressbar" aria-valuemin="0"
                           aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Experts</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="quick-view__chart-container row">
            <div class="quick-view__chart">
              <div class="panel__chart" style="height: 100%; width: 100%;">
                <div class="chart-container" [id]="selectedStock.symbol+'-chart-container'" style="height: 100%; width: 100%;">
                </div>
              </div>
            </div>
          </div>

          <div class="quick-view__similar row">
            <div class="icon__discover col-md-3 col-lg-2">
              <img class="align-absolute" src="assets/imgs/icon-discover.svg">
            </div>
            <div *ngFor="let idea of selectedStockSimilars" class="similar-stock similar-stock-1 col-md-3 col-lg-2">
              <p (click)="goToStockView(idea, $event)">{{idea}}</p>
            </div>
          </div>

          <div class="quick-view__news row">
            <div class="news-panel__header">
              <p><i class="fa fa-newspaper-o" aria-hidden="true"></i> Headlines for: <span>{{selectedStock.symbol}}</span></p>
            </div>
            <ul *ngIf="!headlines?.length" class="news-panel__container">
              <p class="news__none">There are no headlines for this symbol</p>
            </ul>
            <ul *ngIf="headlines?.length" class="news-panel__container">
              <li *ngFor="let headline of headlines" class="headline clearfix">
                <h2 (click)="goToHeadline(headline)">{{headline.title}}</h2>
                <p class="news__source"><a>{{headline.source}}</a></p>
                <p class="update-time"><span>{{headline.headline_last_updated}}</span></p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END: QUICKVIEW PANEL  -->

  </div>
  <div [ngBusy]="loading" infinite-scroll  [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" [scrollWindow]="false" *ngIf="currentView == 'panel-view' && additionalLists != true" class="view-option--panel">
    <div *ngIf="!ideaList?.length">There are currently no stocks in this list.</div>
    <div *ngIf="ideaList?.length" class="row no-gutters">

      <!--  PANEL  -->
      <div *ngFor="let idea of panelViewIdeasList | orderBy:orderByObject?.field:orderByObject?.ascending" class="panel-view__container col-md-6">
        <div class="quick-view__panel">
          <div class="quick-view__data row">

            <div class="col-lg-8">
              <div class="clearfix">
                <div class="stock-panel__PGR">
                  <img src="{{appendPGRImage(idea.pgr['Corrected PGR Value'])}}">
                </div>
                <div class="stock-panel__ticker">
                  <p>{{idea['meta-info'].symbol}}</p>
                </div>
                <div (click)="goToStockView(idea['meta-info'], $event)" class="button__view-summary">
                  <img src="assets/imgs/icon-stockview--blue.svg">
                </div>
              </div>
              <div class="stock-panel__company-name row">
                <div class="button__add-to-list">
                  <a (click)="addToWatchingList(idea['meta-info'].symbol, $event)" class="button__watch"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                  <a (click)="addToHoldingList(idea['meta-info'].symbol, $event)" class="button__hold"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
                <p>{{idea['meta-info'].name}}</p>
              </div>
              <div class="stock-panel__price row">
                <div class="col-4">
                  <p [ngClass]="{'up-change' : idea['meta-info']['Percentage '] > 0, 'down-change' : idea['meta-info']['Percentage '] < 0}" class="current-price">{{idea['meta-info'].Last | decimal}}</p>
                </div>
                <div class="col-4">
                  <p [ngClass]="{'up-change' : idea['meta-info']['Percentage '] > 0, 'down-change' : idea['meta-info']['Percentage '] < 0}" class="price-change">{{idea['meta-info'].Change | decimal}}</p>
                </div>
                <div class="col-4">
                  <p [ngClass]="{'up-change' : idea['meta-info']['Percentage '] > 0, 'down-change' : idea['meta-info']['Percentage '] < 0}" class="percent-change">{{idea['meta-info']["Percentage "] | decimal}}%</p>
                </div>
              </div>
              <div class="stock-panel__industry row">
                <p>Industry: <span class="industry">{{idea['meta-info'].industry_name}}</span></p>
                <p>Ind.&nbsp;Strength: <span class="industry-strength strong"> Strong</span></p>
              </div>
              <div class="stock-panel__details row">
                <div class="col-lg-6">
                  <p>Mkt&nbsp;Cap:<span>{{idea['meta-info'].marketCap}}</span></p>
                </div>
                <div class="col-lg-6">
                  <!--<p>Yield:<span>{{idea.div_yield}}%</span></p>-->
                </div>
              </div>
            </div>

            <div class="quick-view__pgr col-lg-4">
              <p class="pgr__title">Power Gauge Rating:</p>
              <p class="pgr__text" [ngClass]="appendPGRClass(idea.pgr['Corrected PGR Value'])">
                {{appendPGRText(idea.pgr['Corrected PGR Value'])}}
              </p>
              <ul class="pgr__sliders row">
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(idea.pgr.Financials)"></div>
                      <div [ngClass]="appendSliderBarClass(idea.pgr.Financials)" class="sliderBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Financials</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(idea.pgr.Earnings)"></div>
                      <div [ngClass]="appendSliderBarClass(idea.pgr.Earnings)" class="sliderBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Earnings</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(idea.pgr.Technicals)"></div>
                      <div [ngClass]="appendSliderBarClass(idea.pgr.Technicals)" class="sliderBar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Technicals</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div [ngClass]="appendSliderClass(idea.pgr.Experts)"></div>
                      <div [ngClass]="appendSliderBarClass(idea.pgr.Experts)" class="sliderBar" role="progressbar" aria-valuemin="0"
                           aria-valuemax="100">
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Experts</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="quick-view__chart-container row">
            <div class="quick-view__chart" style="height: 100%; width: 100%;">

              <div class="panel__chart" style="height: 100%; width: 100%;">
                <chart-profile #myProfile (click)="updateChart()" [classId] = "idea['meta-info'].symbol+'-chart-container-panel'" [chartInit]="_chartPanelData"></chart-profile>
              <div class="panel__chart">
                <div class="chart-container" [id]="selectedStock+'-chart-container'">
                </div>
              </div>
            </div>
          </div>

          <div class="quick-view__similar row no-gutters">
            <div class="icon__discover col-md-3 col-lg-2">
              <img class="align-absolute" src="assets/imgs/icon-discover.svg">
            </div>
            <div *ngFor="let stock of idea['discovery-similars'].stocks" class="similar-stock similar-stock-1 col-md-3 col-lg-2">
              <p (click)="goToStockView(stock, $event)">{{stock}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--  END: PANEL  -->

    </div>
    <div class="row" style="height: 405px;">
    </div>
  </div>

</div>
<!-- END: OPTION: LIST VIEW  -->

<!-- END: ADD LIST BODY BOTTOM  -->
<div class="quick-view__chart-container row">
  <div class="quick-view__chart">
    <div class="panel__chart">
      <div class="chart-container" [id]="selectedStock+'-chart-container'">
      </div>
    </div>
  </div>
</div>
<!-- END: CURRENT LIST  -->

<!-- END: VIEW LIST  -->

<!-- SECTION: ADD LIST BODY BOTTOM  -->
<div *ngIf="additionalLists == true" class="body__bottom--addlist">

  <!-- ROW: ACTION BAR  -->
  <div class="list-view__actionbar list-view__actionbar--addlist row no-gutters">
    <div class="list__header col-12">
      <p class="list__title">
        <span><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp; Add a new list...</span>
      </p>
      <button (click)="setAdditionalLists(false)" type="button" class="close" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>

<!--hardeep: Ideas inactive list section -->
  <!-- ROW: ADD LIST  -->
  <div class="addlist__container row">
    <div class="col-6">
      <ul>

      <li class="list__option row" *ngFor = " let list of ( inActiveIdeasList | evenodd: 'even')" [ngClass]="mappingClassArray[list.name]['style']" >
          <div class="col-md-4 col-lg-3">
            <div class="list__image">
              <img class="align-absolute" [src]="'assets/imgs/'+mappingClassArray[list.name].imgName">
            </div>
          </div>
          <div class="list__option--description col-md-8 col-lg-9">
            <p class="list__title">{{list.name}}</p>
            <p class="list__description">{{mappingClassArray[list.name]['description']}}</p>
            <button (click)="manageActiveInactive('activate',list.list_id);$event.stopPropagation()" type="button" class="close" aria-label="Close" >
              <span class="list__add" aria-hidden="true">ADD Idea List</span>
            </button>
          </div>
        </li>

      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li class="list__option row" *ngFor = " let list of ( inActiveIdeasList | evenodd: 'odd')" [ngClass]="mappingClassArray[list.name]['style']"  >
          <div class="col-md-4 col-lg-3">
            <div class="list__image">
              <img class="align-absolute" [src]="'assets/imgs/'+mappingClassArray[list.name].imgName">
            </div>
          </div>
          <div class="list__option--description col-md-8 col-lg-9">
            <p class="list__title">{{list.name}}</p>
            <p class="list__description">{{mappingClassArray[list.name]['description']}}</p>
            <button (click)="manageActiveInactive('activate',list.list_id);$event.stopPropagation()" type="button" class="close" aria-label="Close" >
              <span class="list__add" aria-hidden="true">ADD Idea List</span>
            </button>
          </div>
        </li>

      </ul>
    </div>
  </div>
  <!-- END: ADD LIST  -->
  <!-- hardeep: end Ideas inactive list section-->

</div>
<!-- END: ADD LIST BODY BOTTOM  -->

<!-- END: HOME BODY BOTTOM  -->

