<!-- SECTION: HOME BODY BOTTOM  -->
<div class="body__bottom">

  <!-- ROW: ACTION BAR  -->
  <div class="list-view__actionbar list-view__actionbar--userlist row no-gutters">
    <div class="list__header col-md-6">
      <ul>
        <li class="list-sort__button dropdown">
          <a class="sort-toggle dropdown-toggle" data-toggle="dropdown"><i
            class="fa fa-sort-amount-desc align-absolute" aria-hidden="true"></i></a>
          <ul class="top-sort-menu dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Company
                Name</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">A-Z</a></li>
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">Z-A</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Stock
                Price</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">% Change</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">Market
                Cap</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-toggle dropdown-subtoggle" data-toggle="dropdown" tabindex="-1" href="#">% Yield</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">High to Low</a></li>
                <li><a class="dropdown-subtoggle" tabindex="-1" href="#">Low to High</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <p class="list__title">
        <span class="list__title--holding selected"><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;Holding</span>
        <span class="list__title--watching"><i class="fa fa-user-circle" aria-hidden="true"></i> &nbsp;Watching</span>
        <span class="list__title--ideasforyou">Ideas For You</span>
        <span class="list__title--classicbears">Classic Bears</span>
        <span class="list__title--classicbulls">Classic Bulls</span>
        <span class="list__title--buydips">Buy the Dips</span>
        <span class="list__title--sellrallies">Sell the Rallies</span>
        <span class="list__title--largecap">Best of the Large Caps</span>
        <span class="list__title--smallcap">Best of the Small Caps</span>
        <span class="list__title--buyingstrength">Buying Strength</span>
        <span class="list__title--relativestrength">Relative Strength</span>
        <span class="list__title--earningschamps">Earnings Champs</span>
        <span class="list__title--earningsbulls">Upcoming Earnings Bulls</span>
        <span class="list__title--earningsbears">Upcoming Earnings Bears</span>
        <span class="list__title--dontfighttheshorts">Don't Fight the Shorts</span>
        <span class="list__title--analystdarlings">Analyst Darlings</span>
        <span class="list__title--moneymakers">Money Makers</span>
        <span class="list__title--insiderconfidence">Insider Confidence</span>
        <span class="list__title--underten">Stocks Under $10</span>
        <span class="list__title--bestgrowth">Best Growth Stocks</span>
        <span class="list__title--bestvalue">Best Value Stocks</span>
        <span class="list__title--dogsofthedow">Dogs of the Dow</span>
        <span class="list__title--bestofthedow">Best of the Dow</span>
        <span class="list__title--bestofthenasdaq">Best of the Nasdaq</span>
        <span class="list__title--PGRupgrade">Power Gauge Upgrades</span>
        <span class="list__title--PGRdowngrade">Power Gauge Downgrades</span>
      </p>
      <a (click)="gotoPanelView()" [ngClass]="{'active selected' : this.currentView == 'panel-view'}" class="view-toggle view-toggle--panel-view"><i class="fa fa-th-large align-absolute" aria-hidden="true"></i></a>
      <a (click)="gotoListView()" [ngClass]="{'active selected' : this.currentView == 'list-view'}" class="view-toggle view-toggle--list-view active"><i class="fa fa-list align-absolute"
                                                                                       aria-hidden="true"></i></a>
    </div>

    <div class="col-md-6 search__container">
      <symbol-search></symbol-search>
    </div>
  </div>
  <!-- END: ACTION BAR  -->

  <!-- SECTION: VIEW LIST  -->
  <div *ngIf="this.currentView == 'list-view' && this.additionalLists != true" class="body__bottom--listview selected">

    <!-- ROW: CURRENT LIST  -->
    <div class="row no-gutters">
      <div class="current-list__container col-md-6">
        <div class="sort-header row no-gutters">
          <div class="col-lg-2 col-xl-2 ">
            <p class="active">Rating</p>
          </div>
          <div class="col-lg-3 col-xl-2 ">
            <p style="text-align: left;">Ticker</p>
          </div>
          <div class="col-lg-3 col-xl-4 ">
            <p style="text-align: left;">Company</p>
          </div>
          <div class="col-lg-2 col-xl-2 ">
            <p>Price</p>
          </div>
          <div class="col-lg-2 col-xl-2 ">
            <p>% Chg</p>
          </div>
        </div>
        <!-- LIST: HOLDING  -->
        <div class="current-list  current-list--holding ">
          <ul *ngIf="!ideaList?.length" class="list__container">
            <span>There are currently no stocks in this list.</span>
          </ul>
          <ul *ngIf="ideaList?.length" class="list__container">
            <li [ngClass]="{'active selected' : this.selectedStock == idea}" (click)="toggleOptions(idea, $event); selectStock(idea)" (mouseenter)="toggleHoverOptions(idea)"
                (mouseleave)="toggleHoverOptions(idea)" class="row no-gutters list__entry"
                *ngFor="let idea of ideaList">
              <div *ngIf="popupOptionsMap[idea.symbol] == true" class="stock-options__popup">
                <ul class="nav nav-justified">
                  <li (click)="addToList(idea.symbol, '123456', $event)" class="nav-item stock-option--hold">
                    <img src="assets/imgs/icon-plus.svg">
                    <p>Hold</p>
                  </li>
                  <li (click)="removeFromList(idea.symbol, '123456', $event)" class="nav-item stock-option--watch">
                    <img src="assets/imgs/icon-watch.svg">
                    <p>Watch</p>
                  </li>
                  <li (click)="goToStockView(idea, $event)" class="nav-item stock-option--view">
                    <img src="assets/imgs/icon-stockview.svg">
                    <p>View</p>
                  </li>
                </ul>
                <div (click)="toggleOptions(idea, $event)" class="stock__options-button">
                  <img src="assets/imgs/icon_threedots.svg">
                </div>
              </div>
              <div class="col-lg-2 col-xl-2 stock__PGR">
                <img class="align-absolute" src="{{appendPGRImage(idea.PGR)}}">
              </div>
              <div class="col-lg-3 col-xl-2 stock__ticker">
                <p class="">{{ idea.symbol }}</p>
              </div>
              <div class="col-lg-3 col-xl-4 stock__company-name">
                <p class="">{{ idea.name }}</p>
              </div>
              <div class="col-lg-2 col-xl-2 stock__price">
                <p class="data up-change">{{ idea.Last }}</p>
              </div>
              <div class="col-lg-2 col-xl-2 stock__price">
                <p class="data up-change">{{ idea["Percentage "] }}%</p>
              </div>
              <div (click)="toggleOptions(idea, $event)" *ngIf="mouseHoverOptionsMap[idea.symbol] == true"
                   class="stock__options-button">
                <img src="assets/imgs/icon_threedots.svg">
              </div>
            </li>
          </ul>
        </div>
      </div>


      <!-- QUICKVIEW PANEL  -->
      <div *ngIf="!this.selectedStock" class="quick-view__container col-md-6">
        Oops...Looks like you'll have to select a stock to get started!
      </div>
      <div *ngIf="this.selectedStock" class="quick-view__container col-md-6">
        <div class="quick-view__panel">
          <div class="quick-view__data row">

            <div class="col-lg-8">
              <div class="clearfix">
                <div class="stock-panel__PGR">
                  <img src="{{appendPGRImage(this.selectedStock.PGR)}}">
                </div>
                <div class="stock-panel__ticker">
                  <p>{{this.selectedStock?.symbol}}</p>
                </div>
                <div (click)="goToStockView(this.selectedStock, $event)" class="button__view-summary">
                  <img src="assets/imgs/icon-stockview--blue.svg">
                </div>
              </div>
              <div class="stock-panel__company-name row">
                <div class="button__add-to-list">
                  <a (click)="addToList(this.selectedStock, '123456', $event)" class="button__watch"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                  <a (click)="addToList(this.selectedStock, '123456', $event)" class="button__hold"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
                <p>{{this.selectedStock.name}}</p>
              </div>
              <div class="stock-panel__price row">
                <div class="col-4">
                  <p class="current-price down-change">{{this.selectedStock?.Last}}</p>
                </div>
                <div class="col-4">
                  <p class="price-change down-change">{{this.selectedStock?.Change}}</p>
                </div>
                <div class="col-4">
                  <p class="percent-change down-change">{{ this.selectedStock ? this.selectedStock["Percentage "] : null }}%</p>
                </div>
              </div>
              <div class="stock-panel__industry row">
                <p>Industry: <span class="industry">{{this.selectedStock?.industry_name}}</span></p>
                <p>Ind.&nbsp;Strength: <span class="industry-strength strong"> Strong</span></p>
              </div>
              <div class="stock-panel__details row">
                <div class="col-lg-6">
                  <p>Mkt&nbsp;Cap:<span>{{this.selectedStock?.market_cap}}</span></p>
                </div>
                <div class="col-lg-6">
                  <p>Yield:<span>{{this.selectedStock?.div_yield}}%</span></p>
                </div>
              </div>
            </div>

            <div class="quick-view__pgr col-lg-4">
              <p class="pgr__title">Power Gauge Rating:</p>
              <p class="pgr__text" [ngClass]="appendPGRClass(this.selectedStock.PGR)">
                {{appendPGRText(this.selectedStock.PGR)}}
              </p>
              <ul class="pgr__sliders row">
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-bullish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                           style="width:75%">
                        <span class="sr-only">Bullish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Financials</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-bullish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                           style="width:75%">
                        <span class="sr-only">Bullish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Earnings</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-bearish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                           style="width:25%">
                        <span class="sr-only">Bearish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Technicals</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-veryBullish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                           aria-valuemax="100"
                           style="width:100%">
                        <span class="sr-only">Very Bearish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Experts</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="quick-view__chart-container row">
            <div class="quick-view__chart">
              <div id="mainChart"></div>
            </div>
          </div>

          <div class="quick-view__similar row">
            <div class="icon__discover col-md-3 col-lg-2">
              <img class="align-absolute" src="assets/imgs/icon-discover.svg">
            </div>
            <div class="similar-stock similar-stock-1 col-md-3 col-lg-2">
              <p>YUM</p>
            </div>
            <div class="similar-stock similar-stock-2 col-md-3 col-lg-2">
              <p>DD</p>
            </div>
            <div class="similar-stock similar-stock-3 col-md-3 col-lg-2">
              <p>TIVO</p>
            </div>
            <div class="similar-stock similar-stock-4 col-md-3 col-lg-2">
              <p>URBN</p>
            </div>
            <div class="similar-stock similar-stock-5 col-md-3 col-lg-2">
              <p>PLAY</p>
            </div>
          </div>

          <div class="quick-view__news row">
            <div class="news-panel__header">
              <div class="pull-left" style="float: left;">
                <p><i class="fa fa-newspaper-o" aria-hidden="true"></i> Headlines for: <span>MSFT</span></p>
              </div>
              <div class="pull-right" style="float: right;">
                <p class="headlines-expand">See all headlines &nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i>
                </p>
                <p class="headlines-collapse">Close &nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></p>
              </div>
            </div>
            <ul class="headlines-container row">
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- END: QUICKVIEW PANEL  -->

  </div>
  <div *ngIf="this.currentView == 'panel-view' && this.additionalLists != true" class="view-option--panel">
    <div *ngIf="!ideaList?.length">There are currently no stocks in this list.</div>
    <div *ngIf="ideaList?.length" class="row no-gutters">

      <!--  PANEL  -->
      <div *ngFor="let idea of ideaList" class="panel-view__container col-md-6">
        <div class="quick-view__panel">
          <div class="quick-view__data row">

            <div class="col-lg-8">
              <div class="clearfix">
                <div class="stock-panel__PGR">
                  <img src="{{appendPGRImage(idea.PGR)}}">
                </div>
                <div class="stock-panel__ticker">
                  <p>{{idea.symbol}}</p>
                </div>
                <div (click)="goToStockView(idea, $event)" class="button__view-summary">
                  <img src="assets/imgs/icon-stockview--blue.svg">
                </div>
              </div>
              <div class="stock-panel__company-name row">
                <div class="button__add-to-list">
                  <a (click)="addToList(idea, '123456', $event)" class="button__watch"><i class="fa fa-binoculars" aria-hidden="true"></i></a>
                  <a (click)="addToList(idea, '123456', $event)" class="button__hold"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
                <p>{{idea.name}}</p>
              </div>
              <div class="stock-panel__price row">
                <div class="col-4">
                  <p class="current-price up-change">{{idea.Last}}</p>
                </div>
                <div class="col-4">
                  <p class="price-change up-change">{{idea.Change}}</p>
                </div>
                <div class="col-4">
                  <p class="percent-change up-change">({{idea["Percentage "]}}%)</p>
                </div>
              </div>
              <div class="stock-panel__industry row">
                <p>Industry: <span class="industry">{{idea.industry_name}}</span></p>
                <p>Ind.&nbsp;Strength: <span class="industry-strength strong"> Strong</span></p>
              </div>
              <div class="stock-panel__details row">
                <div class="col-lg-6">
                  <p>Mkt&nbsp;Cap:<span>{{idea.market_cap}}</span></p>
                </div>
                <div class="col-lg-6">
                  <p>Yield:<span>{{idea.div_yield}}%</span></p>
                </div>
              </div>
            </div>

            <div class="quick-view__pgr col-lg-4">
              <p class="pgr__title">Power Gauge Rating:</p>
              <p class="pgr__text" [ngClass]="appendPGRClass(idea.PGR)">
                {{appendPGRText(idea.PGR)}}
              </p>
              <ul class="pgr__sliders row">
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-veryBullish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                           style="width:100%">
                        <span class="sr-only">Very Bullish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Financials</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-neutral"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                           style="width:50%">
                        <span class="sr-only">Neutral</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Earnings</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-bearish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
                           style="width:25%">
                        <span class="sr-only">Bearish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Technicals</p>
                    </div>
                  </div>
                </li>
                <li class="col-12">
                  <div class="sliderBar-container">
                    <div class="sliderProgress">
                      <div class="slider-bullish"></div>
                      <div class="sliderBar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                           aria-valuemax="100"
                           style="width:75%">
                        <span class="sr-only">Bullish</span>
                      </div>
                    </div>
                    <div class="pgr__label">
                      <p>Experts</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="quick-view__chart-container row">
            <div class="quick-view__chart">
              <div id="mainChart"></div>
            </div>
          </div>

          <div class="quick-view__similar row no-gutters">
            <div class="icon__discover col-md-3 col-lg-2">
              <img class="align-absolute" src="assets/imgs/icon-discover.svg">
            </div>
            <div class="similar-stock similar-stock-1 col-md-3 col-lg-2">
              <p>ATO</p>
            </div>
            <div class="similar-stock similar-stock-2 col-md-3 col-lg-2">
              <p>GM</p>
            </div>
            <div class="similar-stock similar-stock-3 col-md-3 col-lg-2">
              <p>FORD</p>
            </div>
            <div class="similar-stock similar-stock-4 col-md-3 col-lg-2">
              <p>PG</p>
            </div>
            <div class="similar-stock similar-stock-5 col-md-3 col-lg-2">
              <p>MS</p>
            </div>
          </div>

          <div class="quick-view__news row">
            <div class="news-panel__header">
              <div class="pull-left" style="float: left;">
                <p><i class="fa fa-newspaper-o" aria-hidden="true"></i> Headlines for: <span>{{idea.symbol}}</span></p>
              </div>
              <div class="pull-right" style="float: right;">
                <p class="headlines-expand">See all headlines &nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></p>
                <p class="headlines-collapse">Close &nbsp;<i class="fa fa-angle-up" aria-hidden="true"></i></p>
              </div>
            </div>
            <ul class="headlines-container row">
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Electronic Arts Inc. (NASDAQ:EA) EVP Sells $158,970.00 in Stock</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>27</span><span> minutes</span> ago</p><br>
              </li>
              <li class="headline col-lg-6">
                <h2>Fitbit Inc Surges Thanks To Best Buy Co Inc (FIT, BBY)</h2>
                <p class="news-source"><a>Investor Place</a></p>
                <p class="update-time"><span>1</span><span> hour</span> ago</p><br>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--  END: PANEL  -->

    </div>
    <div class="row" style="height: 405px;">
    </div>
  </div>

</div>
<!-- END: OPTION: LIST VIEW  -->

<!-- END: ADD LIST BODY BOTTOM  -->
<div class="quick-view__chart-container row">
  <div class="quick-view__chart">
  </div>
</div>
<!-- END: CURRENT LIST  -->

<!-- END: VIEW LIST  -->

<!-- SECTION: ADD LIST BODY BOTTOM  -->
<div *ngIf="this.additionalLists == true" class="body__bottom--addlist">

  <!-- ROW: ACTION BAR  -->
  <div class="list-view__actionbar list-view__actionbar--addlist row no-gutters">
    <div class="list__header col-12">
      <p class="list__title">
        <span>Select a new idea list</span>
      </p>
    </div>
    <button (click)="setAdditionalLists(false)" type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- ROW: ADD LIST  -->
  <div class="addlist__container row">
    <div class="col-6">
      <ul class="">
        <li class="list__option list__option--chartlist list__option--buyingstrength row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-buyingstrength.svg">
            </div>
          </div>
          <div class="list__option--description col-md-8">
            <p class="list__title">Buying Strength</p>
            <p class="list__description">This list contains companies who have exceeded earnings expectations on a
              quartly basis.</p>
          </div>
        </li>
        <li class="list__option list__option--chartlist list__option--relativestrength row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-relativestrength.svg">
            </div>
          </div>
          <div class="list__option--description col-md-8">
            <p class="list__title">Relatie Strength</p>
            <p class="list__description">This list contains companies who have exceeded earnings expectations on a
              quartly basis</p>
          </div>
        </li>
        <li class="list__option list__option--IPlist list__option--earningschamps row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-earningschamps.svg">
            </div>
          </div>
          <div class="list__option--description col-md-8">
            <p class="list__title">Earnings Champs</p>
            <p class="list__description">This list contains companies who have exceeded earnings expectations on a
              quartly basis</p>
          </div>
        </li>
        <li class="list__option list__option--IPlist list__option--earningsbulls row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-earningsbulls.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Upcoming Earnings Bulls</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--IPlist list__option--earningsbears row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-dontfighttheshorts.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Don't Fight The Shorts</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--IPlist list__option--earningsbears row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-analystdarlings.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Analyst Darlings</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--IPlist list__option--earningsbears row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-moneymakers.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Money Makers</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--IPlist list__option--bestvalue row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-insiderconfidence.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Insider Confidence</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul>
        <li class="list__option list__option--companylist list__option--underten row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-underten.svg">
            </div>
          </div>
          <div class="list__option--description col-md-8">
            <p class="list__title">Stocks Under $10</p>
            <p class="list__description">This list contains companies who have exceeded earnings expectations on a
              quartly basis.</p>
          </div>
        </li>
        <li class="list__option list__option--companylist list__option--growthstock row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-growthstock.svg">
            </div>
          </div>
          <div class="list__option--description col-md-8">
            <p class="list__title">Best Growth Stock</p>
            <p class="list__description">This list contains companies who have exceeded earnings expectations on a
              quartly basis</p>
          </div>
        </li>
        <li class="list__option list__option--companylist list__option--bestvalue row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-bestvalue.svg">
            </div>
          </div>
          <div class="list__option--description col-md-8">
            <p class="list__title">Best Value Stocks</p>
            <p class="list__description">This list contains companies who have exceeded earnings expectations on a
              quartly basis</p>
          </div>
        </li>
        <li class="list__option list__option--companylist list__option--smallcap row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-smallcap.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Best Of The Small Caps</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--championlist list__option--dogsofthedow row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-dogsofthedow.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Dogs Of The Dow</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--championlist list__option--bestofthedow row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-bestofthedow.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Best Of The Dow</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--championlist list__option--bestofthenasdaq row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-bestofthenasdaq.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Best Of The Nasdaq</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
        <li class="list__option list__option--championlist list__option--bestofthenasdaq row">
          <div class="col-md-4">
            <div class="list__image">
              <img class="align-absolute" src="assets/imgs/img_list-bestofthenasdaq.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="list__option--description">
              <p class="list__title">Best Of The Nasdaq</p>
              <p class="list__description">This list contains companies who have exceeded earnings expectations on a
                quartly basis</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- END: ADD LIST  -->

</div>
<!-- END: ADD LIST BODY BOTTOM  -->

<!-- END: HOME BODY BOTTOM  -->

