@import 'variables';




.body__bottom {
	position: relative;
	width: 100%;
}

.body__bottom--listview {
	position: absolute;
	width: 100%;
	display: block;
}

.body__bottom--listview.selected {
	display: none;
}

.body__bottom--addlist {
	position: absolute;
	width: 100%;
	display: none;
}

.body__bottom--addlist.selected {
	display: block;
}







/*------------------------------------*\
  #ACTION-BAR
\*------------------------------------*/



.list-view__actionbar--userlist {
	background-image: linear-gradient(-148deg, #00CD00 0%, #00A3FF 100%);

	.list__header {
		.view-toggle.active {
			i {
				color: #00A168;
			}
		}
	}
}

.list-view__actionbar--idealist {
	background-image: linear-gradient(145deg, #FDDC04 0%, #E10281 100%);

	.list__header {
		.view-toggle.active {
			i {
				color: #F0773F;
			}
		}
	}
}

.list-view__actionbar--IPlist {
	background-image: linear-gradient(-31deg, #7000A8 0%, #FF8500 100%);

	.list__header {
		.view-toggle.active {
			i {
				color: #CB5B50;
			}
		}
	}
}

.list-view__actionbar--chartlist {
	background-image: linear-gradient(-31deg, #6D0A95 0%, #0096D4 100%);

	.list__header {
		.view-toggle.active {
			i {
				color: #5633C5;
			}
		}
	}
}

.list-view__actionbar--companylist {
	background-image: linear-gradient(62deg, #00A70C 0%, #B6FF00 100%);

	.list__header {
		.view-toggle.active {
			i {
				color: #00C40E;
			}
		}
	}
}

.list-view__actionbar--championlist {
	background-image: linear-gradient(50deg, #EC2E2E 0%, #2517DC 100%);

	.list__header {
		.view-toggle.active {
			i {
				color: #992476;
			}
		}
	}
}

.list-view__actionbar--addlist {
	background-image: linear-gradient(146deg, #EEEEEE 0%, #8F8F8F 100%);

	.list__header {
		border-right: 0px solid #ffffff !important;

		.list__title {
			color: $font-color !important;

			
			span {
				display: block !important;
				margin-left: 20px;
			}
		}
	}
}





.list-view__actionbar {
	border: 2px solid #FFFFFF;
	height: 55px;
	
	.list__header {
		border-right:2px solid #ffffff;

		.list-sort__button {
			position: relative;
			cursor: context-menu;
			float: left;
			border-right:2px solid #ffffff;

			.sort-toggle {
				width: 45px;
				height: 55px;
				font-size: 20px;
				color: #ffffff;
				position: relative;

				i {
					color: #ffffff;
					margin-top: -1px;
				}

				&:hover  {
					background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 100%);
				}
			}
		}

		.list__title {
			font-size: 28px;
			float: left;
			color: #FFFFFF;
			line-height: 48px;
			white-space: nowrap;
			font-weight: 300;
			margin-left: 20px;
			
			span {
				display: none;
			}
			
			span.list__title--holding.selected {
				display: block;
			}

			span.list__title--watching.selected {
				display: block;
			}

			span.list__title--ideasforyou.selected {
				display: block;
			}

			span.list__title--classicbears.selected {
				display: block;
			}

			span.list__title--classicbulls.selected {
				display: block;
			}

			span.list__title--buydips.selected {
				display: block;
			}

			span.list__title--sellrallies.selected {
				display: block;
			}

			span.list__title--largecap.selected {
				display: block;
			}

			span.list__title--smallcap.selected {
				display: block;
			}

			span.list__title--buyingstrength.selected {
				display: block;
			}

			span.list__title--relativestrength.selected {
				display: block;
			}

			span.list__title--earningschamps.selected {
				display: block;
			}

			span.list__title--earningsbears.selected {
				display: block;
			}

			span.list__title--earningsbulls.selected {
				display: block;
			}

			span.list__title--dontfighttheshorts.selected {
				display: block;
			}

			span.list__title--analystdarlings.selected {
				display: block;
			}

			span.list__title--moneymakers.selected {
				display: block;
			}
			span.list__title--insiderconfidence.selected {
				display: block;
			}

			span.list__title--underten.selected {
				display: block;
			}

			span.list__title--bestgrowth.selected {
				display: block;
			}

			span.list__title--bestvalue.selected {
				display: block;
			}

			span.list__title--dogsofthedow.selected {
				display: block;
			}

			span.list__title--bestofthedow.selected {
				display: block;
			}

			span.list__title--bestofthenasdaq.selected {
				display: block;
			}

			span.list__title--PGRupgrade.selected {
				display: block;
			}

			span.list__title--PGRdowngrade.selected {
				display: block;
			}
		}
	
		.view-toggle {
			float: right;
			width: 60px;
			height: 55px;
			font-size: 22px;
			color: #ffffff;
			position: relative;
			border-left:2px solid #ffffff;
			
			i {
				color: #ffffff;
				margin-top: -2px;
			}
			&:hover  {
				background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.50) 100%);
			}
		}
		.view-toggle.active  {
			background-image: linear-gradient(0deg, rgba(255,255,255,0.20) 0%, #FFFFFF 100%);
		}
	}
}






/*------------------------------------*\
  #CURRENT-LIST
\*------------------------------------*/



.current-list__container {

	.sort-header {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 28px;
		font-weight: 300;
		border-bottom: $border-line--LT;
	
		p {
			color: $font-color--MD;
			text-align: center;
		}
		
		p.active {
			font-weight: 600;
		}
	}
	
	.current-list {
		height: 100vh;
		overflow-y: scroll;

		.list__container {
			padding-bottom: 464px;

			.list__entry {
				background-color: $background--LT;
				height: 60px;
				border-left: 0;
				border-bottom: $border-line--LT;
				border-right: $border-line--LT;
				padding-left:0;
				padding-right:0;
				margin-right: 0;
			  	margin-left: 0;
			  	overflow: hidden;
			  	position: relative;

				.stock__PGR {
					position: relative;
				}

				.stock__ticker {
					font-size: 24px;
					font-weight: 700;
					line-height: 60px;
					white-space: nowrap;
				}

				.stock__company-name {
					font-size: 16px;
				    font-weight: 300;
				    float: left;
				    line-height: 60px
				}

				.stock__price  {
					font-size: 16px;
					font-weight: 600;
					text-align: center;
					line-height: 60px;
				}

				.stock__options-button {
					display: none;
					position: absolute;
					right:0px;
					top:0px;
					cursor: pointer;
					width: 20px;
					height: 60px;
					padding: 12px 5px;
				}

				.stock-options__popup {
					display: none;
					position: absolute;
					right: 0;
					top: 0;
					background-color: $link-blue;
					z-index: 100;
					height: 60px;
					width: 260px;

					.nav {
						z-index: 100;

						.nav-item {
							height: 60px;
							padding-top: 6px;

							&:hover {
								background-color: rgba(255,255,255,0.2);
							}

							p {
								color: #ffffff;
								text-transform: uppercase;
								font-weight: 600;
								font-size: 13px;
								margin-top: 8px;
							}

							img {
								height: 27px;
							}
						}
					}

					.stock__options-button {
						display: block;
						margin-right: 260px;
						cursor: pointer;
						width: 5000px;
						padding-right: 10px;

						img {
							float: right;
						}
					}
				}
			}

			.list__entry.hover {
				background-color: #ffffff;

				.stock__options-button {
					display: block;
				}
			}

			.list__entry.selected {
				background-color: #ffffff;
				height: 60px;
				border-left: 0;
				border-bottom: $border-line--LT;
				border-right: 1px solid #ffffff;
				padding-left:0;
				padding-right:0;
				margin-right: 0;
			  	margin-left: 0;
			  	overflow: hidden;
			  	position: relative;

				.stock__options-button {
					display: none;
				}
			}
		}
	}
}





/*------------------------------------*\
  #QUICK-VIEW-PANEL
\*------------------------------------*/



.quick-view__container {

	.quick-view__panel {
		padding: 20px 30px;
		height: 100vh;

		.quick-view__data {
			position: relative;

			.stock-panel__PGR {
				float: left;
				
				img {
					width: 60px;
					height: auto;
					margin-right: 15px;
				}
			}

			.stock-panel__ticker {
				float: left;
			
				p {
					font-size: 36px;
					line-height: 1;
					font-weight: 800;
				}
			}

			.button__view-summary {
				float: right;
				width: 28px;
				margin-top: 3px;
				cursor: pointer;
				opacity: 0.33;
			
				img {
					float: left;
					width: 27px;
				}

				&:hover {
					opacity: 1;
				};
			}
			
			.stock-panel__company-name {
				margin: 7px 0 10px;
				
				.button__add-to-list {
					float: left;
					margin-top: -1px;
				
					a {
						opacity: 0.33;
						font-size: 25px;
						color: $link-blue;
						margin-right: 15px;
						cursor: pointer;
						line-height: 1;
					
						&:hover {
							opacity: 1;
						}
					}

					a.button__watch {
						font-size: 21px;
					}
				}

				p {
					font-size: 22px;
					float: left;
				}
			}
		
			.stock-panel__price {
				padding-bottom: 10px;
				border-bottom: $border-line--LT2;
				margin-bottom: 6px;
			
				p {
					font-weight: 600;
					font-size: 18px;
				}

				p.current-price {
					font-weight: 700;
				}
			}
			
			.stock-panel__industry {
				border-bottom: $border-line--LT2;
				margin-top: 10px;
				margin-bottom: 10px;
				padding-left: 15px;
				
				p {
					font-weight: 400;
					font-size: 12px;
					color: $font-color--MD;
					text-transform: uppercase;
					margin: 0px 15px 0px 0;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					width: 350px;
					height: 28px;
					
					span {
						font-size: 16px;
						color: $font-color;
						text-transform: none;
						margin-left: 10px;
						font-weight: 400;
					}
					
					span.industry-strength {
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}

			.stock-panel__details {
				padding-bottom: 5px;
				margin-bottom: 5px;
				
				p {
					font-weight: 400;
					font-size: 12px;
					color: $font-color--MD;
					text-transform: uppercase;
					margin: 0px;
					
					span {
						font-size: 16px;
						color: $font-color;
						text-transform: none;
						margin-left: 10px;
						font-weight: 600;
					}
				}
			}
			
			.quick-view__pgr {
				border-left: $border-line--LT2;
				
				.pgr__title {
					font-weight: 400;
					font-size: 11px;
					color: $font-color--MD;
					text-transform: uppercase;
					line-height: 1;
					margin-bottom: 6px;
					letter-spacing: 0.05em;
					white-space: nowrap;
				}
				
				.pgr__text {
					font-weight: 700;
					font-size: 20px;
					text-transform: uppercase;
					white-space: nowrap;
				}
		
				.pgr__sliders {
					margin-top: 8px;
				
					li {
						margin: 3px 0 2px;
						
						.sliderBar-container {

							.pgr__label {
								font-weight: 600;
								font-size: 13px;
								color: $font-color--MD;
								text-transform: uppercase;
								margin: -2px 0 2px;
							}
						}
					}
				}
			}
		}

		.quick-view__chart-container {
			height: 130px;
		}

		.quick-view__similar {
			background-color: $background--LT-blue;
			z-index: 10;
			bottom: 478px;
			width: 95%;
			height: 50px;
			position: absolute;
		
			img {
				width: 35px;
			}
			
			.similar-stock {
				font-size: 18px;
				line-height: 50px;
				font-weight: 700;
				text-align: left;
			}
		}
		
		.quick-view__news {
			width: 95%;
			position: absolute;
			bottom: 438px;
			height: 40px;
			padding: 13px 0 8px;
			font-size: 18px;
			background-color: #ffffff;
			border-top: $border-line--LT2;
			z-index: 20;
			
			span {
				font-weight: 700;
			}
			
			.headlines-expand {
				font-size: 12px;
				color: $font-color;
				font-weight: 600;
				text-transform: uppercase;
				cursor: pointer;
				text-align: right;
				
				i {
					font-size: 20px;
					color: $link-blue;
					margin-top: -3px;
				}
			}
		}
	}
}












/*------------------------------------*\
  #ADD-A-LIST
\*------------------------------------*/




.addlist__container {
	height: 100vh;
	overflow-y: scroll;

	ul {
	    margin-top: 0px;
	    margin-left: 20px;
	    margin-bottom:460px;

		.list__option {
			margin: 20px 0;

			.list__image {
				width: 160px;
				height: 160px;
				border: 3px solid #FFFFFF;
				position: relative;
				margin: 0px;
				border-radius: 80px;
			}

			.list__option--description {
				padding-top:15px;

				.list__title {
					font-size: 26px;
					line-height: 1.75;
					font-weight: 400;
				}

				.list__description {
					font-size: 16px;
					line-height: 1.5;
				}
			}
		}

		.list__option--relativestrength.selected .list__image img {
			width: 110px;
			height: auto;
			margin-top: -2px;
		}

		.list__option--relativestrength.hover .list__image img {
			width: 110px;
			height: auto;
			margin-top: -2px;
		}

		.list__option--buyingstrength.selected .list__image img {
			width: 110px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--buyingstrength.hover .list__image img {
			width: 110px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--earningschamps.selected .list__image img {
			width: 123px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--earningschamps.hover .list__image img {
			width: 123px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--earningsbears.selected .list__image img {
			width: 115px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--earningsbears.hover .list__image img {
			width: 115px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--earningsbulls.selected .list__image img {
			width: 115px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--earningsbulls.hover .list__image img {
			width: 115px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--growthstock.selected .list__image img {
			width: 90px;
			height: auto;
			margin-top: -6px;
		}

		.list__option--growthstock.hover .list__image img {
			width: 90px;
			height: auto;
			margin-top: -6px;
		}

		.list__option--bestvalue.selected .list__image img {
			width: 90px;
			height: auto;
			margin-top: -3px;
		}

		.list__option--bestvalue.hover .list__image img {
			width: 90px;
			height: auto;
			margin-top: -3px;
		}

		.list__option--smallcap.selected .list__image img {
			width: 88px;
			height: auto;
			margin-top: 20px;
		}

		.list__option--smallcap.hover .list__image img {
			width: 88px;
			height: auto;
			margin-top: 20px;
		}

		.list__option--dogsofthedow.selected .list__image img {
			width: 115px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--dogsofthedow.hover .list__image img {
			width: 115px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--bestofthenasdaq.selected .list__image img {
			width: 95px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--bestofthenasdaq.hover .list__image img {
			width: 95px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--bestofthedow.selected .list__image img {
			width: 95px;
			height: auto;
			margin-top: 0px;
		}

		.list__option--bestofthedow.hover .list__image img {
			width: 95px;
			height: auto;
			margin-top: 0px;
		}
	}
}








