<div bsModal #supportModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="supportModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Support/contact</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="supportModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Please contact customer support at support@chaikinanalytics.com or call 1-877-978-6257
            </div>
        </div>
    </div>
</div>