@import 'variables';



/*------------------------------------*\
  #BODY
\*------------------------------------*/





.body__container {
	float: left;
	z-index: 1;
}

.body {
	padding-left: 202px;
}

.body.collapsed {
	padding-left: 60px;
}