p, span, label, li, a, button {
	font-family: 'OpenSans', sans-serif;
	color: #4A4A4A;
		padding:0;
}

div {
	display:block;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table {
    width: 100%;
}

button {
	border:0;
}

h6 {
	font-size: 14px;
	font-family: 'OpenSans', sans-serif;
	color: #4A4A4A;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	line-height: 30px;
	border-bottom: 1px solid #cccccc;
	text-align: left;
	margin: 11px 30px 10px 0;
	font-weight: 600;
	padding-left: 10px;
}

h6 i {
	margin-right: 5px;
}



/*                                      */
/*               COMMON                 */
/*                                      */


.veryBullish, .strong {
	color:#24A300;
}

.bullish {
	color:#6ACC00;
}

.neutral, .hold {
	color:#FF9900;
}

.bearish {
	color:#FD4500;
}

.veryBearish, .weak {
	color:#EB001C;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.align-absolute {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}



::-webkit-input-placeholder { /* Chrome */
  color: #cecece !important;
  font-weight: 300 !important;
  font-family: 'OpenSans', sans-serif !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cecece !important;
   font-weight: 300 !important;
  font-family: 'OpenSans', sans-serif !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cecece !important;
  opacity: 1;
  font-weight: 300 !important;
  font-family: 'OpenSans', sans-serif !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #cecece !important;
  opacity: 1;
  font-weight: 300 !important;
  font-family: 'OpenSans', sans-serif !important;
}




/*------------------------------------*\
  #PRIMARY-NAV
\*------------------------------------*/





.primary-nav {
	background-color: #333333;
	min-height: 50px;
	height: 100%;
	padding-top:0;
	padding-right:0;
	padding-left:0;
	padding-bottom:0;
}

.primary-nav__logo {
	box-shadow:  inset 0 -3px 0px 0px #000000;
	height: 50px;
	position: relative;
}

.primary-nav__logo img {
	width: 70%;
}

.primary-nav__nav {
	margin:0;
	padding:0;
}
.primary-nav__nav .nav-link {
	color:#ffffff;
	height: 50px;
	line-height: 35px;
	font-size: 14px;
	font-weight: 400;
}

.primary-nav__nav .nav-link:hover {
	color:#ffffff;
	background-color: #444444;
}

.primary-nav__nav .nav-link:active {
	color:#ffffff;
	background-color: #666666;
	box-shadow:  inset 0 3px 0px 0px #444444;
}

.primary-nav__nav .active {
	background-color: #666666;
	box-shadow:  inset 0 -3px 0px 0px #444444;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
}

.primary-nav__nav .nav-item .active:hover {
	color:#ffffff;
	background-color: #666666;
}






.primary-nav__settings {
	padding-top:0;
	padding-right:0;
	padding-left:0;
	padding-bottom:0;
	background-color: #333333;
}

.primary-nav__settings .nav {
}

.primary-nav__settings .nav-link {
	color:#ffffff;
	height: 50px;
	font-size: 20px;
    padding: .7em .2em;
}

.primary-nav__settings .nav-link:hover {
	color:#ffffff;
	background-color: #666666;
}

.primary-nav__settings .nav-link:active {
	color:#ff9911;
	background-color: #333333;
}






/*------------------------------------*\
  #MAIN-SEARCH
\*------------------------------------*/






.primary-nav__search {
	height: 50px;
	border-left: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	background-color: #777777;
	padding-top:0;
	padding-right:0;
	padding-left:0;
	padding-bottom:0;
	overflow: hidden;
}

.primary-nav__search .form-inline {
	text-align:center;
}

.form-control:focus {
	background-color: #777777;
	color:#ffffff;
}

.search-box {
	text-align: left;
	padding: 0;
	border:0;
	font-size: 22px;
	margin-right: 20px;
	font-weight: 400;
	font-family: 'OpenSans', sans-serif;
	background-color: #777777;
}

.primary-nav__search .fa-search {
	font-size: 25px;
	line-height: 50px;
	color: #ffffff;
	margin-left: 20px;
	margin-right: 20px;
}





/*------------------------------------*\
  #BODY
\*------------------------------------*/




.body {
	border-top: 2px solid #ffffff;
	height: 100vh;
	overflow: hidden;
	margin-bottom: -50px;
}

.body__container {
	background-color: #eeeeee;	
}

.body__sidebar {
	background-color: #ffffff;
	border-right: 1px solid #cccccc;
	padding-left: 0;
	padding-right: 0;
}

.sidebar__header {
	height: 40px;
}

.sidebar__powerbar {
	height: 40px;
}

.sidebar__stocklist {

}

.stock-list__header {

}

.stock-list {

}

.container {
	width: 100% !important;
}

.container--reports {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 100%;
}

.sidebar--lists a {
	text-align: center;
	width: 100%;
	height: 90px;
	display: block;
	line-height: 90px;
	box-shadow:  inset 0 -3px 0px 0px #dddddd;
	font-size: 18px;
	border-bottom: 3px solid #ffffff;
	background-color: #eeeeee;
}

.sidebar--lists a.active {
	text-align: center;
	width: 100%;
	height: 90px;
	display: block;
	line-height: 90px;
	box-shadow:  inset 0 -3px 0px 0px #0074FB;
	border-bottom: 3px solid #ffffff;
	background-color: #1199ff;
	color: #ffffff;
	font-weight: 600;
}

.sidebar--lists a:active {
	background-color: #1199ff;
	box-shadow:  inset 0 3px 0px 0px #0074FB;
}

.sidebar--lists a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #1199ff;
}






.ideas__header {
	background-color: #ffffff;
	height: 110px;
}

.list__icon {
	float: left;
	position: absolute;
	bottom: 0;
	border-bottom: 2px solid #ffffff;
	left:30px;
}

.list__name {
	font-size: 24px;
	line-height: 30px;
	color: #4A4A4A;
	text-transform: uppercase;
	position: absolute;
	left: 140px;
	padding:0;
    top: 50%;
  	transform: translateY(-50%);
}

.list__description {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	height: 74px;
	margin-top: 18px;
	position: relative;
}

.list__description p {
	font-size: 13px;
	color: #4A4A4A;
	letter-spacing: 0;
	line-height: 19px;
	width: 93%;
}

