<!-- SECTION: BODY  -->
<div class="container-fluid">

  <!-- SECTION: DISCOVERY BODY  -->
  <div class="discovery__body body">

    <!-- SECTION: DISCOVERY BODY TOP  -->
    <div class="body__top">

      <div class="row--header header text-center row no-gutters">
        <h1 class="col-12">Discovery Results for</h1>
      </div>

      <!-- ROW: DISCOVERY - BASE STOCK  -->
      <app-discovery-stock [metaInfo]="metaInfo"></app-discovery-stock>
      <!-- END: DISCOVERY - BASE STOCK  -->

    </div>
    <!-- END: DISCOVERY BODY TOP  -->

    <!-- SECTION: DISCOVERY BODY BOTTOM  -->
    <div class="body__bottom">

      <!-- ROW: ACTION BAR  -->
      <div class="list-view__actionbar list-view__actionbar--discovery row no-gutters">
        <div class="list__header col-md-6">
          <a (click)="navigateBack()" class="view-toggle"><i class="fa fa-reply align-absolute" aria-hidden="true"></i></a>
          <p class="list__title list__title--discovery">Stock ideas based on <span>{{symbol | uppercase }}</span></p>
        </div>

        <div class="col-md-6">
          <symbol-search></symbol-search>
        </div>
      </div>
      <!-- END: ACTION BAR  -->

      <!-- ROW: DISCOVERY RESULTS  -->
      <app-discovery-results [results]="results"></app-discovery-results>
      <!-- END: DISCOVERY RESULTS  -->

    </div>
    <!-- END: DISCOVERY BODY BOTTOM  -->

  </div>
  <!-- END: DISCOVERY BODY  -->

</div>
<!-- END: BODY  -->
