	<!-- ROW: CAROUSEL  -->
					<div class="row no-gutters">
						<div class="list-carousel">
							<div class="list-category list-category--mylists">
								<p>MY LISTS</p>
							</div>
							<div class="list-category list-category--ideas">
								<p>IDEAS</p>

							</div>
							<ul class="">
								<li class="list__option list__option--userlist list__option--holding selected">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-holding.svg">
									</div>
									<p class="list__label">Holding</p>
								</li>
								<li class="list__option list__option--userlist list__option--watching">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-watching.svg">
									</div>
									<p class="list__label">Watching</p>
								</li>
								<li class="list__option list__option--idealist list__option--ideasforyou">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-ideasforyou.svg">
									</div>
									<p class="list__label">Ideas For You</p>
								</li>
								<li class="list__option list__option--IPlist list__option--classicbulls">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-classicbulls.svg">
									</div>
									<p class="list__label">Classic Bulls</p>
								</li>
								<li class="list__option list__option--IPlist list__option--classicbears">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-classicbears.svg">
									</div>
									<p class="list__label">Classic Bears</p>
								</li>
								<li class="list__option list__option--chartlist list__option--selldips">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-selldips.svg">
									</div>
									<p class="list__label">Sell the Dips</p>
								</li>
								<li class="list__option list__option--chartlist list__option--buyrallies">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-buyrallies.svg">
									</div>
									<p class="list__label">Buy the Rallies</p>
								</li>
								<li class="list__option list__option--companylist list__option--largecap">
									<div class="list__image">
										<img class="align-absolute" src="assets/imgs/img_list-largecap.svg">
									</div>
									<p class="list__label">Best of the<br>Large Caps</p>
								</li>
								<li class="list__option list__option--addlist list__option--add">
									<div class="list__image">
										<i class="align-absolute fa fa-plus-circle" aria-hidden="true"></i>
									</div>
									<p class="list__label">Add a list...</p>
								</li>
							</ul>
						</div>
					</div>
			<!-- END: CAROUSEL  -->

			<!-- ROW: LIST DESCRIPTION  -->
					<div class="list-description__container">
						<p class="list-description align-absolute">
							<span class="list-description--holding selected">This is the list of stocks you currently hold in your portfolio.</span>
							<span class="list-description--watching">Here are the stocks you are keeping an eye on.</span>
							<span class="list-description--ideasforyou">These ideas have been highlihted as some you might be interested in.</span>
							<span class="list-description--classicbears">Bears, bears, and bears, Oh My!</span>
							<span class="list-description--classicbulls">Run with the bulls here.</span>
							<span class="list-description--selldips">Sell these stocks after they dip.</span>
							<span class="list-description--buyrallies">Buy these stocks after they rally.</span>
							<span class="list-description--largecap">These are companies that make a lot of money.</span>
							<span class="list-description--addlist">Add a new list here...</span>
						</p>
						<div class="toggle-arrow toggle-arrow--left">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
						</div>
						<div class="toggle-arrow toggle-arrow--right">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
						</div>
					</div>
			<!-- END: LIST DESCRIPTION  -->





