@import 'variables';




/*------------------------------------*\
  #LIST-CAROUSEL
\*------------------------------------*/




.list-carousel {
	height: 270px;
	margin-left: 40px;
	border-left: 1px dashed #999999;
	overflow-x: scroll;
	position: relative;
	overflow-y: hidden;
	
	.list-category {
		position: absolute;
		font-size: 20px;
		height: 270px;
		font-weight: 300;
		line-height: 1;
		top: -2px;
		opacity: 0.75;

		p {
			color: #FFFFFF;
		}
	}

	.list-category--mylists {
		left: 20px;
	}

	.list-category--ideas {
		left: 408px;
		border-left: 1px dashed #999999;

		p {
			margin-left: 20px;
		}
	}

	ul {
	    width: 100%;
	    list-style-type: none;
	    margin: auto;
	    white-space: nowrap;
	    margin-top: 0px;

		.list__option {
			display: inline-block;
			position: relative;
			height: 245px;
			vertical-align: top;

			.list__image {
				width: 160px;
				height: 160px;
				border: 3px solid #FFFFFF;
				box-shadow: 0 0 18px 0 rgba(0,0,0,0.33);
				position: relative;
				margin: 20px 20px 10px;
				border-radius: 80px;
			}

			.list__label {
				font-size: 20px;
				color: #FFFFFF;
				line-height: 25px;
				text-align: center;
				font-weight: 300;
				width: 200px;
				height: 70px;
				padding: 0 20px;
				white-space: normal;

				i {
					font-size: 18px;
					padding-right: 5px;
				}
			}
		}

		.list__option.selected {
			background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.40) 90%);
		    background-repeat: no-repeat;
		    background-position: 8px 95px;
		    background-size: 185px;

		    .list__image {
				width: 184px;
				height: 184px;
				border: 3px solid #FFFFFF;
				box-shadow: 0 0 18px 0 rgba(0,0,0,0.33);
				position: relative;
				margin: 0 8px 10px 8px;
				border-radius: 92px;
			}
			.list__label {
				font-weight: 600;
			}
		}
	}
}





.list-carousel .list__option.hover, .list-carousel li.list__option:hover {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 35%, rgba(0,0,0,0.40) 90%);
    background-repeat: no-repeat;
    background-position: 8px 95px;
    background-size: 185px;
}

.list-carousel .list__option.hover .list__image, .list-carousel li.list__option:hover .list__image {
	width: 184px;
	height: 184px;
	border: 3px solid #FFFFFF;
	box-shadow: 0 0 18px 0 rgba(0,0,0,0.33);
	position: relative;
	margin: 0 8px 10px 8px;
	border-radius: 92px;
}

.list-carousel .list__option--add .list__image {
	border: 3px dashed #FFFFFF !important;
}

.list-carousel .list__option--add.selected .list__image {
	border: 3px dashed #FFFFFF;
}

.list-carousel .list__option--add.hover .list__image {
	border: 3px dashed #FFFFFF !important;
}







/*------------------------------------*\
  #LIST-OPTION Image
\*------------------------------------*/



.list__option--holding .list__image img {
	width: 115px;
	height: auto;
	margin-top:-1px;
}

.list__option--holding.selected .list__image img {
	width: 132px;
	height: auto;
	margin-top:-4px;
}

.list__option--holding.hover .list__image img {
	width: 132px;
	height: auto;
	margin-top:-4px;
}



.list__option--watching .list__image img {
	width: 132px;
	height:auto;
	margin-top: 2px;
}

.list__option--watching.selected .list__image img {
	width: 147px;
	height: auto;
}

.list__option--watching.hover .list__image img {
	width: 147px;
	height: auto;
}


.list__option--ideasforyou .list__image img {
	width: 78px;
	height: auto;
	margin-top: 1px;
}

.list__option--ideasforyou.selected .list__image img {
	width: 88px;
	height: auto;
	margin-top: 1px;
}

.list__option--ideasforyou.hover .list__image img {
	width: 88px;
	height: auto;
	margin-top: 1px;
}



.list__option--classicbulls .list__image img {
	width: 120px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbulls.selected .list__image img {
	width: 136px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbulls.hover .list__image img {
	width: 136px;
	height: auto;
	margin-top: 2px;
}



.list__option--classicbears .list__image img {
	width: 118px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbears.selected .list__image img {
	width: 132px;
	height: auto;
	margin-top: 2px;
}

.list__option--classicbears.hover .list__image img {
	width: 132px;
	height: auto;
	margin-top: 2px;
}



.list__option--selldips .list__image img {
	width: 107px;
	height: auto;
	margin-top: -3px;
}

.list__option--selldips.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: -3px;
}

.list__option--selldips.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: -3px;
}



.list__option--buyrallies .list__image img {
	width: 107px;
	height: auto;
	margin-top: 5px;
}

.list__option--buyrallies.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: 5px;
}

.list__option--buyrallies.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: 5px;
}

.list__option--largecap .list__image img {
	width: 106px;
	height: auto;
	margin-top: -8px;
}

.list__option--largecap.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: -8px;
}

.list__option--largecap.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: -8px;
}

.list__option--buyingstrength .list__image img {
	width: 106px;
	height: auto;
	margin-top: 0px;
}

.list__option--buyingstrength.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: 0px;
}

.list__option--buyingstrength.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: 0px;
}

.list__option--relativestrength .list__image img {
	width: 106px;
	height: auto;
	margin-top: -2px;
}

.list__option--relativestrength.selected .list__image img {
	width: 120px;
	height: auto;
	margin-top: -2px;
}

.list__option--relativestrength.hover .list__image img {
	width: 120px;
	height: auto;
	margin-top: -2px;
}

.list__option--earningschamps .list__image img {
	width: 116px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningschamps.selected .list__image img {
	width: 132px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningschamps.hover .list__image img {
	width: 132px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningsbulls .list__image img {
	width: 108px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningsbulls.selected .list__image img {
	width: 128px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningsbulls.hover .list__image img {
	width: 128px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningsbears .list__image img {
	width: 108px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningsbears.selected .list__image img {
	width: 128px;
	height: auto;
	margin-top: 0px;
}

.list__option--earningsbears.hover .list__image img {
	width: 128px;
	height: auto;
	margin-top: 0px;
}

.list__option--underten .list__image img {
	width: 115px;
	height: auto;
	margin-top: 0px;
}

.list__option--underten.selected .list__image img {
	width: 128px;
	height: auto;
	margin-top: 0px;
}

.list__option--underten.hover .list__image img {
	width: 128px;
	height: auto;
	margin-top: 0px;
}

.list__option--growthstock .list__image img {
	width: 85px;
	height: auto;
	margin-top: -5px;
}

.list__option--growthstock.selected .list__image img {
	width: 100px;
	height: auto;
	margin-top: 0px;
}

.list__option--growthstock.hover .list__image img {
	width: 100px;
	height: auto;
	margin-top: 0px;
}

.list__option--smallcap .list__image img {
	width: 80px;
	height: auto;
	margin-top: 22px;
}

.list__option--smallcap.selected .list__image img {
	width: 80px;
	height: auto;
	margin-top: 20px;
}

.list__option--smallcap.hover .list__image img {
	width: 80px;
	height: auto;
	margin-top: 20px;
}

.list__option--bestvalue .list__image img {
	width: 85px;
	height: auto;
	margin-top: -5px;
}

.list__option--bestvalue.selected .list__image img {
	width: 100px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestvalue.hover .list__image img {
	width: 100px;
	height: auto;
	margin-top: 0px;
}

.list__option--dogsofthedow .list__image img {
	width: 110px;
	height: auto;
	margin-top: 0px;
}

.list__option--dogsofthedow.selected .list__image img {
	width: 130px;
	height: auto;
	margin-top: 0px;
}

.list__option--dogsofthedow.hover .list__image img {
	width: 130px;
	height: auto;
	margin-top: 0px;
}

.list__option--dogsofthedow .list__image img {
	width: 110px;
	height: auto;
	margin-top: 0px;
}

.list__option--dogsofthedow.selected .list__image img {
	width: 130px;
	height: auto;
	margin-top: 0px;
}

.list__option--dogsofthedow.hover .list__image img {
	width: 130px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestofthedow .list__image img {
	width: 90px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestofthedow.selected .list__image img {
	width: 110px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestofthedow.hover .list__image img {
	width: 110px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestofthenasdaq .list__image img {
	width: 90px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestofthenasdaq.selected .list__image img {
	width: 110px;
	height: auto;
	margin-top: 0px;
}

.list__option--bestofthenasdaq.hover .list__image img {
	width: 110px;
	height: auto;
	margin-top: 0px;
}



.list__option--add .list__image i {
	font-size: 48px;
	color: #FFFFFF;
}

.list__option--add.selected .list__image i {
	font-size: 54px;
	color: #FFFFFF;
}

.list__option--add.hover .list__image i {
	font-size: 54px;
	color: #FFFFFF;
}









/*------------------------------------*\
  #LIST-DESCRIPTION
\*------------------------------------*/




.list-description__container {
	position: absolute;
	bottom: 0;
	background-color: #393d47;
	height: 45px;
	width: 100%;
}

.list-description__container .list-description {
	font-size: 18px;
	color: #FFFFFF !important;
	line-height: 45px;
	font-weight: 300;
	letter-spacing: 0.05em;
	white-space: nowrap;
	position: absolute;
}

.list-description__container .toggle-arrow {
	position: absolute;
	font-size: 44px;
	color: #999999;
	margin-top: -3px;
	line-height: 45px;
	
	&:hover {
		color: #ffffff;
	}
}

.list-description__container .toggle-arrow--left {
	left:10px;
}

.list-description__container .toggle-arrow--right {
	right:10px;
}






.list-description span {
	display: none;
}

.list-description span.selected-hidden {
	display: none !important;
}

.list-description--holding.hover, .list-description--holding.selected {
	display: block;
}

.list-description--watching.hover, .list-description--watching.selected  {
	display: block;
}

.list-description--ideasforyou.hover, .list-description--ideasforyou.selected {
	display: block;
}

.list-description--classicbears.hover, .list-description--classicbears.selected {
	display: block;
}

.list-description--classicbulls.hover, .list-description--classicbulls.selected {
	display: block;
}

.list-description--selldips.hover, .list-description--selldips.selected {
	display: block;
}

.list-description--largecap.hover, .list-description--largecap.selected {
	display: block;
}

.list-description--addlist.hover, .list-description--addlist.selected {
	display: block;
}

.list-description--buyrallies.hover, .list-description--buyrallies.selected {
	display: block;
}

