<div class="insights__post insights__post--education row">
  <div class="post__image-box col-12">
    <div class="post__category-container">
      <p class="post__category">Expert Education</p>
    </div>
  </div>
  <ul class="post__content col-12">
    <li *ngFor="let post of educationPages[currentPage-1]" (click)="openEducationPost(post)" class="content__article">
      <div class="post__title">
        <p><a>{{ post['post_title'] }}&nbsp;&nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </p>
      </div>
      <div class="post__author">
        <p class="author"><span>{{ post.author }}</span></p>
      </div>
    </li>
  </ul>


  <div class="post__toggle-container col-12">
    <pagination [directionLinks]="false" [itemsPerPage]="itemsPerPage" [totalItems]="totalItems" [(ngModel)]="currentPage"
                (numPages)="smallnumPages = $event"></pagination>
  </div>
</div>
