@import 'variables';




.stock-view__container {
	position: relative;
	background-image: linear-gradient(0deg, #6F7689 0%, #313540 97%);

	.stock-view__iframe {
		height: 1000px;
		width: 100%;
		padding-top:10px;
	}
}






















