<div id="search-panel-container" class="search-panel-container" style="display:none">
		    <div class="search-panel">
		        <div class="arrow"></div>
		        <div class="title"></div>
		        <div class="body">
		        <div >
		         	<ul>
	                   <li >
	                       <div class="text">No matches</div>
	                   </li>
		        	</ul>
		        	<!-- <ul  id="selectBox-options">
			        	<li id="0-searchli">                       
							<span class="symbol-label">AA</span>                       
							<p class="company-label">Alcoa Corp</p>
							<div class="show-chart"> </div>
							<div class="listing-link">+Holdings</div>
							<div class="listing-link">+Watchlist</div>
						</li>
						
					</ul> -->
		        </div>
		        
		          <!--  <div ng-switch on="data.length">
		               <ul ng-switch-when="0">
		                   <li class="{{ getRowClass(0) }}">
		                       <div class="text">No matches</div>
		                   </li>
		               </ul> -->
		              <!--  <ul ng-switch-default id="selectBox-options">
		                   <li id="{{$index}}-searchli" ng-repeat="item in data" ng-mouseover="removeTopRowClass($event,$index);" ng-mouseleave="removeHoveredClass($event,$index);"class="searchResult {{ getRowClass($index,item.Symbol,item.CompanyName) }} " ng-click="dispatchSearch1($event,item)">
		                       <span class="symbol-label">{{item.Symbol}}</span>
		                       <p class="company-label">{{item.CompanyName}}</p>
		                       <div  class="add-to-watchlist" ng-click="addToWatchlist(item,$event)"> <span > <i class={{getIcon()}} ></i> </span> </div>
		                       <div class="{{ getRightButtonClass() }} " ng-click="showChart(item,true)">
		<div ng-show="showIconforShowChart()" ng-include = getsearchpanelSvg() ></div> <span class="icon icon-reports-01" ><i class="fa fa-file-text"></i></span></svg></div>
		                   </li>
		               </ul> 
		           </div>-->
		        </div>
		    </div>
		</div>

		<!-- <li id="0-searchli" ng-repeat="item in data" ng-mouseover="removeTopRowClass($event,$index);" ng-mouseleave="removeHoveredClass($event,$index);" class="" ng-click="dispatchSearch1($event,item)">                       
		<span class="symbol-label ng-binding">AA</span>                       
		<p class="company-label ng-binding">Alcoa Corp</p>
		</li> -->