<!-- SECTION: BODY  -->
<div class="container-fluid container-fluid--insights">

  <!-- SECTION: INSIGHTS BODY  -->
  <div class="body body--insights ">

    <!-- SECTION: INSIGHTS BODY TOP  -->
    <app-insights-dashboard></app-insights-dashboard>
    <!-- END: INSIGHTS BODY TOP  -->

    <!-- SECTION: INSIGHTS BODY BOTTOM -->
    <app-list-selection [additionalLists]="true"></app-list-selection>
    <!-- END: INSIGHTS BODY BOTTOM -->

  </div>
  <!-- END: INSIGHTS BODY  -->

</div>
<!-- END: BODY  -->
