$test-color: orange;




/*  Colors  */


$veryBullish-green: #24A300;
$bullish-green: #7ED321;
$neutral-yellow: #FF9900;
$bearish-red: #FD4500;
$veryBearish-red: #EB001C;


$upChange: #24A300;
$downChange: #EB001C;


$strong: #24A300;
$weak: #EB001C;


$link-blue: #1199ff;





/*  Fonts  */


$font-stack: 'Open Sans', Helvetica, sans-serif;


$font-color: #4A4A4A;
$font-color--LT: #CCCCCC;
$font-color--MD: #999999;
$font-color--Blue: #003366;





/*  Backgrounds  */


$background--LT: #FAFAFA;
$background--LT2: #F4F4F4;
$background--LT3: #EFEFEF;
$background--LT-blue: #EFF8FF;

$background--sidebar: #e2e2e2;





/*  Lines & Borders  */


$border-line--LT: 1px solid #cccccc;
$border-line--LT2: 1px solid #eeeeee;


$chart-border--LT: 1px solid #dddddd;
















