$test-color: orange;




/*  Colors  */


$veryBullish-green: #24A300;
$bullish-green: #7ED321;
$neutral-yellow: #FF9900;
$bearish-red: #FD4500;
$veryBearish-red: #EB001C;


$upChange: #24A300;
$downChange: #EB001C;

$strong: #24A300;
$weak: #EB001C;


$link-blue: #1199ff;
$link-grey: #DBDCE0;




/*  Fonts  */


$font-stack: 'Open Sans', Helvetica, sans-serif;


$font-color: #454D5F;
$font-color--MD: #B5B8BF;
$font-color--LT: #B5B8BF;
$font-color--subhead: #7C828F;
$font-color--Blue: #003366;





/*  Backgrounds  */


$background--LT: #FAFAFA;
$background--LT2: #F4F4F4;
$background--LT3: #EFEFEF;
$background--DK: #454D5F;
$background--LT-blue: #EFF8FF;

$background--sidebar: #cccccc;





/*  Lines & Borders  */

$border-line--W: 2px solid #FFFFFF;

$border-line--LT: 1px solid #cccccc;
$border-line--LT2: 1px solid #eeeeee;

$border-dashed--LT: 1px dashed #DBDCE0;
$border-dashed--MD: 1px dashed #7C828F;

$chart-border--LT: 1px solid #dddddd;





$zindex-dropdown-backdrop:  990 !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-fixed:             1030 !default;
$zindex-sticky:            1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;










