<!--<button type="button" class="btn btn-primary" (click)="showModal()">Render auto-shown modal</button>-->
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
     class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">

      <div class="modal__container container-fluid">

        <div [ngClass]="{'selected' : this.selected == 1}" class="modal__content slide__1 align-absolute">
          <div class="content__top">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <img class="idea-circle" src="assets/imgs/circle_ideasforyou.png" alt="">
            <div class="modal__header">
              <p>Welcome! Let's get started...</p>
            </div>
            <div class="modal__body">
              <div class="body__copy">
                <p>Here at Chaikin, we believe a disciplined approach to stock investing can help you reliably
                  outperform the market.</p>
                <p>Chaikin Stock Ideas is a great tool for finding winning stocks that align with your trading style
                  and interests.</p>
                <p>The core of the system is the Chaikin Power Gauge&trade; rating, which reliably indicates a stock’s
                  potential. <a href="">Learn More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>

                <p class="large-copy">Continue to our <span>Quick-Start </span>option below to get started!</p>
              </div>
              <div (click)="switchSlide(2)" class="">
                <a class="modal__button">Quick-Start &nbsp;<i class="fa fa-long-arrow-right"
                                                              aria-hidden="true"></i></a>
                <a (click)="hideModal()" class="modal__skip">Skip Set-Up</a>
              </div>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 2}" class="modal__content slide__2 align-absolute">
          <div class="content__top">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_addholdings--header.svg">
              <p>Add holdings</p>
            </div>
            <div class="modal__body row">
              <div class="body__copy col-sm-6">
                <p>Do you already hold stocks? You can import them by using our <strong>“Search &amp; Add”</strong>
                  feature below.</p>
                <p>If you do not hold stocks, you may <a href="">skip this step</a>.</p>
                <div class="modal__search">
                  <form class="form-inline" action="/action_page.php">
                    <div class="form-group">
                      <button type="submit" class="search-submit"><i class="fa fa-search" aria-hidden="true"></i>
                      </button>
                      <input type="email" class="search-box" id="email" placeholder="Type a ticker or company"
                             name="email">
                    </div>
                  </form>
                </div>
              </div>
              <div class="holdings__list col-sm-6">
                <p class="list__label"><i class="fa fa-user-circle" aria-hidden="true"></i> My Holdings:</p>
                <ul>
                  <li>
                    <p class="number-hide">1.</p>
                    <p><span class="ticker">MCHP</span> <span class="company-name">Microchip Tech</span> <span
                      class="price up-change">$1,234.45</span> <span class="price-change up-change">+1.06%</span>
                      <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span></p>
                  </li>
                  <li class="striped">
                    <p class="number-show">2.</p>
                  </li>
                  <li>
                    <p class="number-show">3.</p>
                  </li>
                  <li class="striped">
                    <p class="number-show">4.</p>
                  </li>
                  <li>
                    <p class="number-show">5.</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar_ON.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1"></li>
                  <li (click)="switchSlide(5)" class="feature-2"></li>
                  <li (click)="switchSlide(6)" class="feature-3"></li>
                  <li (click)="switchSlide(7)" class="feature-4"></li>
                  <li (click)="switchSlide(8)" class="feature-5"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="nextSlide()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> Idea Lists &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 3}" class="modal__content slide__3 align-absolute">
          <div class="content__top container">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_idealists--header.svg">
              <p>Idea Lists</p>
            </div>
            <div class="modal__body row">
              <div class="body__copy col-12">
                <p>You can select up to 10 idea lists at a time, which will appear on your home page. The lists you select will be used to personalize an <span>“Idea for You”</span> watchlist.</p>
              </div>
              <div class="idea-list__options row">
                <div class="list__option add col-6">
                  <img src="assets/imgs/img_modal-idealist-earningschamps.png" height="100" height="100">
                  <p class="list__title">Earnings Champs</p>
                  <p class="list__description">This list contains companies who have exceeded earnings expectations on a quartly basis.</p>
                  <a class="button__add">ADD Idea List</a><a class="button__remove">REMOVE Idea List</a>
                </div>
                <div class="list__option col-6">
                  <img src="assets/imgs/img_modal-idealist-buyingpressure.png" height="100" height="100">
                  <p class="list__title">Buying Pressure</p>
                  <p class="list__description">This list contains companies who have exceeded earnings expectations on
                    a
                    quartly basis.</p>
                  <a class="button__add">ADD Idea List</a><a class="button__remove">REMOVE Idea List</a>
                </div>
                <div class="list__option col-6">
                  <img src="assets/imgs/img_modal-idealist-earningschamps.png" height="100" height="100">
                  <p class="list__title">Buying Strength</p>
                  <p class="list__description">This list contains companies who have exceeded earnings expectations on
                    a
                    quartly basis.</p>
                  <a class="button__add">ADD Idea List</a><a class="button__remove">REMOVE Idea List</a>
                </div>
                <div class="list__option col-6">
                  <img src="assets/imgs/img_modal-idealist-earningschamps.png" height="100" height="100">
                  <p class="list__title">Buying Strength</p>
                  <p class="list__description">This list contains companies who have exceeded earnings expectations on
                    a
                    quartly basis.</p>
                  <a class="button__add">ADD Idea List</a><a class="button__remove">REMOVE Idea List</a>
                </div>
                <div class="list__option col-6">
                  <img src="assets/imgs/img_modal-idealist-earningschamps.png" height="100" height="100">
                  <p class="list__title">Buying Strength</p>
                  <p class="list__description">This list contains companies who have exceeded earnings expectations on
                    a
                    quartly basis.</p>
                  <a class="button__add">ADD Idea List</a><a class="button__remove">REMOVE Idea List</a>
                </div>
                <div class="list__option col-6">
                  <img src="assets/imgs/img_modal-idealist-earningschamps.png" height="100" height="100">
                  <p class="list__title">Buying Strength</p>
                  <p class="list__description">This list contains companies who have exceeded earnings expectations on
                    a
                    quartly basis.</p>
                  <a class="button__add">ADD Idea List</a><a class="button__remove">REMOVE Idea List</a>
                </div>
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar_ON.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1"></li>
                  <li (click)="switchSlide(5)" class="feature-2"></li>
                  <li (click)="switchSlide(6)" class="feature-3"></li>
                  <li (click)="switchSlide(7)" class="feature-4"></li>
                  <li (click)="switchSlide(8)" class="feature-5"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="nextSlide()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> Key Features &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 4}" class="modal__content slide__4 align-absolute">
          <div class="content__top">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_keyfeatures--header.svg">
              <p>Key Features</p>
            </div>
            <div class="modal__body row">
              <div class="feature__image">
                <img src="assets/imgs/img_keyfeature-1.png" width="955" height="360">
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar_ON.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1 selected"></li>
                  <li (click)="switchSlide(5)" class="feature-2"></li>
                  <li (click)="switchSlide(6)" class="feature-3"></li>
                  <li (click)="switchSlide(7)" class="feature-4"></li>
                  <li (click)="switchSlide(8)" class="feature-5"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="nextSlide()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> More Features &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 5}" class="modal__content slide__5 align-absolute">
          <div (click)="hideModal()" class="content__top">
            <div class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_keyfeatures--header.svg">
              <p>Key Features (cont.)</p>
            </div>
            <div class="modal__body row">
              <div class="feature__image">
                <img src="assets/imgs/img_keyfeature-2.png" width="824" height="360">
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar_ON.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1"></li>
                  <li (click)="switchSlide(5)" class="feature-2 selected"></li>
                  <li (click)="switchSlide(6)" class="feature-3"></li>
                  <li (click)="switchSlide(7)" class="feature-4"></li>
                  <li (click)="switchSlide(8)" class="feature-5"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="nextSlide()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> More Features &nbsp;<i class="fa fa-long-arrow-right"
                                                                                     aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 6}" class="modal__content slide__6 align-absolute">
          <div class="content__top">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_keyfeatures--header.svg">
              <p>Key Features (cont.)</p>
            </div>
            <div class="modal__body row">
              <div class="feature__image">
                <img src="assets/imgs/img_keyfeature-3.png" width="875" height="360">
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar_ON.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1"></li>
                  <li (click)="switchSlide(5)" class="feature-2"></li>
                  <li (click)="switchSlide(6)" class="feature-3 selected"></li>
                  <li (click)="switchSlide(7)" class="feature-4"></li>
                  <li (click)="switchSlide(8)" class="feature-5"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="nextSlide()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> More Features &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 7}" class="modal__content slide__7 align-absolute">
          <div class="content__top">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_keyfeatures--header.svg">
              <p>Key Features (cont.)</p>
            </div>
            <div class="modal__body row">
              <div class="feature__image">
                <img src="assets/imgs/img_keyfeature-4.png" width="" height="360">
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar_ON.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1"></li>
                  <li (click)="switchSlide(5)" class="feature-2"></li>
                  <li (click)="switchSlide(6)" class="feature-3"></li>
                  <li (click)="switchSlide(7)" class="feature-4 selected"></li>
                  <li (click)="switchSlide(8)" class="feature-5"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="nextSlide()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> More Features &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

        <div [ngClass]="{'selected' : this.selected == 8}" class="modal__content slide__8 align-absolute">
          <div class="content__top">
            <div (click)="hideModal()" class="modal__close">
              <a><i class="fa fa-times-circle" aria-hidden="true"></i></a>
            </div>
            <div class="modal__header">
              <img src="assets/imgs/icon_keyfeatures--header.svg">
              <p>Key Features (cont.)</p>
            </div>
            <div class="modal__body row">
              <div class="feature__image">
                <img src="assets/imgs/img_keyfeature-5.png" width="" height="360">
              </div>
            </div>
          </div>
          <div class="content__bottom">
            <div class="progress__container">
              <div class="progress__steps">
                <div (click)="switchSlide(2)" class="step step--addlist">
                  <img src="assets/imgs/icon_addholdings--progress-bar.svg">
                  <p><strong>ADD</strong> Holdings</p>
                </div>
                <div (click)="switchSlide(3)" class="step step--idealist">
                  <img src="assets/imgs/icon_idealists--progress-bar.svg">
                  <p><strong>SELECT</strong> Idea Lists</p>
                </div>
                <div (click)="switchSlide(4)" class="step step--keyfeatures">
                  <img src="assets/imgs/icon_keyfeatures--progress-bar_ON.svg">
                  <p><strong>VIEW</strong> Key Features</p>
                </div>
                <ul class="keyfeatures__steps nav">
                  <li (click)="switchSlide(4)" class="feature-1"></li>
                  <li (click)="switchSlide(5)" class="feature-2"></li>
                  <li (click)="switchSlide(6)" class="feature-3"></li>
                  <li (click)="switchSlide(7)" class="feature-4"></li>
                  <li (click)="switchSlide(8)" class="feature-5 selected"></li>
                </ul>
              </div>
              <div class="progress__line">
              </div>
            </div>
            <div (click)="hideModal()" class="progress__button">
              <a class="modal__button"><strong>NEXT:</strong> Get Started &nbsp;<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

      </div>

  </div>
</div>
