


<!-- SECTION: HOME BODY TOP  -->
		<div class="body__top">
			<mid-tier-ideas> </mid-tier-ideas>
		</div>
<!-- END: HOME BODY TOP  -->





    <app-list-view ></app-list-view>





















<!-- <div class="container-fluid">
Home Page!
<div class="c3-tooltip-container" style="position: absolute; pointer-events: none; display: none; top: 62.5px; left: 426.5px;"><table class="c3-tooltip"><tbody><tr><th colspan="2">2017</th></tr><tr class="c3-tooltip-name--Q2"><td class="name"><span style="background-color:#C0E4FF"></span>Q2</td><td class="value">$0.55</td></tr><tr class="c3-tooltip-name--Q4"><td class="name"><span style="background-color:#C0E4FF"></span>Q4</td><td class="value">$0.09</td></tr><tr class="c3-tooltip-name--Q3"><td class="name"><span style="background-color:#1199ff"></span>Q3</td><td class="value">$0.08</td></tr><tr class="c3-tooltip-name--Q1"><td class="name"><span style="background-color:#1199ff"></span>Q1</td><td class="value">$-0.11</td></tr></tbody></table></div>
</div> -->


